<% if @awating_payment.present? %>
    <div class="awaiting-section">
      <h3>Awaiting Payment</h3>
      <% @awating_payment.each do |f| %>
          <div class="panel panel-danger pending-section-wrapper">
            <div class="panel-heading header">
              <h4 class="panel-title">Awaiting Payment</h4>
            </div>
            <div class="panel-body pending-class-div">

              <div class="mediaobject-img-div">
                <%= image_tag '11-01.png', class: 'teacher-img' %>
              </div>
              <div class="pending-class-info">
                <table>
                  <tr>
                    <td>
                    <th>Name:</th>
                    </td>
                    <td>
                      <% if current_user.has_role? :student %>
                          <%= f.teacher.profile.fullname %>
                      <% else %>
                          <%= f.student.profile.fullname %>

                      <% end %>


                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>Class Date:</th>
                    </td>
                    <td>
                      <%= f.appointment_date.strftime('%B %d, %Y') %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>No. of hours:</th>
                    </td>
                    <td>
                      <%= pluralize(f.class_hours, 'hour', 'hours') %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>Topic:</th>
                    </td>
                    <td>
                      <%= f.topic %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>Description:</th>
                    </td>
                    <td>
                      <%= f.description %>

                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th></th>
                    </td>
                    <td>
                      <% if current_user.has_role? :student %>
                          <%= link_to 'Make Payment', make_profile_appointment_payment_path(appointment_id: f.id, profile_id: @user.id, id: f.payment.id) %> |
                      <% end %>
                      <%= link_to 'Cancel ', cancel_class_profile_appointment_path(id: f.id, profile_id: @user.id), method: :put %>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div><!--first--end-->


      <% end %>
    </div>
<% end %>