<% if @registered_class.present?  %>
    <div class="awaiting-section">
      <h3>Registered Classes</h3>
      <% @registered_class.each do |f| %>
          <div class="panel panel-success pending-section-wrapper">
            <div class="panel-heading header">
              <h4 class="panel-title">Registered Classes</h4>
            </div>
            <div class="panel-body pending-class-div">

              <div class="mediaobject-img-div">
                <%= image_tag '11-01.png', class: 'teacher-img' %>
              </div>
              <div class="pending-class-info">
                <table>
                  <tr>
                    <td>
                    <th>Name:</th>
                    </td>
                    <td>
                      <% if current_user.has_role? :student %>
                          <%= f.teacher.profile.fullname %>
                      <% else %>
                          <%= f.student.profile.fullname %>

                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>Class  Date:</th>
                    </td>
                    <td>
                      <%= f.appointment_date.strftime('%B %d, %Y') %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>No. of hours:</th>
                    </td>
                    <td>
                      <%= pluralize(f.class_hours, 'hour', 'hours') %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>Topic:</th>
                    </td>
                    <td>
                      <%= f.topic %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th>Description:</th>
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                    <th></th>
                    </td>
                    <td>
                      <%= link_to 'Cancel ', cancel_class_profile_appointment_path(id: f.id, profile_id: @user.profile.id), method: :put %>
                    </td>
                  </tr>
                  <tr>
                    <td><th></th></td>
                    <td>
                      <% if f.class_status == 1 %>
                          <% if f["started_by_#{current_role}"] %>
                              You started the class
                          <% else %>
                              <%= link_to 'Start Class', start_class_profile_appointment_path(id: f.id, profile_id: @user.profile.id), method: :put %>
                          <% end %>
                          <%= "(#{opposite_role.titleize} has #{f["started_by_#{opposite_role}"] ? '' : 'not'} started)" %>
                      <% elsif f.class_status == 2 %>
                          In Progress
                      <% end %>
                    </td>
                  </tr>
                </table>
              </div>

            </div>

          </div><!--first--end-->
      <% end %>

    </div>
<% end %>