<section class="my-teacher-hero-section">
  <div class="texture-div">
    <h1>view <span class="font-blue">teachers for</span></h1>
    <div style="display:flex; justify-content:center;">
      <div class="buttons-div">
        <%= form_for 'teacher', html: {style: 'display: flex', id: 'book-class-form'} do |f| %>
            <select name="teacher[standard]" id="">
              <option value="" class="disable hidden">choose grade</option>
              <% Profile::STANDARD.each do |standard| %>
                  <option value="<%= standard[0] %>" <% if params[:teacher] and params[:teacher][:standard].to_i == standard[0].to_i %>selected="selected"<% end %>><%= standard[1] %></option>
              <% end %>
            </select>
            <div class="btn-container">
              <i class="fa fa-search fa-2x"></i>
              <input type="search" placeholder="search" name="teacher[subject]" value="<%= params[:teacher] ? params[:teacher][:subject] : '' %>">
            </div>
            <%= f.hidden_field 'gender', value: (params[:teacher] ? params[:teacher][:gender] : 'no-filter-gender') %>
            <%= f.hidden_field 'rating', value: (params[:teacher] ? params[:teacher][:rating] : 'no-filter-rating') %>
            <%= f.hidden_field 'availability', value: params[:teacher][:availability] %>
            <button class="btn" type="submit">Search</button>
        <% end %>
      </div>
    </div>
    <section class="my-teacher-body">
      <div class="row">
        <div class="col-md-3">
          <div class="range-div">
            <h2>price range</h2>
            <input type="range" step="1" min="500" max="2500">
          </div>
          <form class="status-div">
            <i class="fa fa-wifi"></i>
            status
            <ul>
              <li>
                <input type="radio" id="online-option" name="selector" class="filter-event" value="online" <%= params[:teacher] and params[:teacher][:availability] == 'online' ? 'checked' : '' %>>
                <label for="online-option">online</label>
                <div class="check"><div class="inside"></div></div>
              </li>

              <li>
                <input type="radio" id="offline" name="selector" class="filter-event" value="offline" <%= params[:teacher] and params[:teacher][:availability] == 'offline' ? 'checked' : '' %>>
                <label for="offline">offline</label>
                <div class="check"></div>
              </li>
            </ul>
          </form>
          <form class="gender-div">
            <i class="fa fa-venus-mars" aria-hidden="true"></i>
            <span>gender</span>
            <ul>
              <li>
                <input type="radio" id="gender-no-filter" name="selector" class="filter-event" value="no-filter-gender" <%= params[:teacher] and params[:teacher][:gender] == 'no-filter-gender' ? 'checked' : '' %>>
                <label for="gender-no-filter">no filter</label>

                <div class="check"></div>
              </li>

              <li>
                <input type="radio" id="male-option" name="selector" class="filter-event" value="male" <%= params[:teacher] and params[:teacher][:gender] == 'male' ? 'checked' : '' %>>
                <label for="male-option">male</label>

                <div class="check"><div class="inside"></div></div>
              </li>

              <li>
                <input type="radio" id="female-option" name="selector" class="filter-event" value="female" <%= params[:teacher] and params[:teacher][:gender] == 'female' ? 'checked' : '' %>>
                <label for="female-option">female</label>

                <div class="check"><div class="inside"></div></div>
              </li>
            </ul>
          </form>
          <form class="rating-div">
            <img src="images/rating.png" alt="" width="35">
            <span>rating</span>
            <ul>
              <li>
                <input type="radio" id="rating-no-filter" name="selector" value="no-filter-rating" class="filter-event" <%= params[:teacher] and params[:teacher][:rating] == 'no-filter-rating' ? 'checked' : '' %>>
                <label for="rating-no-filter">no filter</label>
                <div class="check"></div>
              </li>

              <li>
                <input type="radio" id="rating-option" name="selector" value="4+" class="filter-event" <%= params[:teacher] and params[:teacher][:rating] == '4+' ? 'checked' : '' %>>
                <label for="rating-option">show only 4+</label>
                <div class="check"><div class="inside"></div></div>
              </li>
            </ul>
          </form>
        </div>
        <div class="col-md-9 teacher-profile-side" id="results-div" data-relevant="<%= @relevant %>">
          <% @teachers.each do |teacher| %>
              <div class="teacher-div">
                <div class="row">
                  <div class="col-md-3 col-sm-4 col-xs-10">
                    <%= image_tag teacher.avatar_url(:thumb), class: 'img-responsive' %>
                    <div class="status-div">
                      <span class="online-circle offline-circle"></span>
                      <span><%= Profile::AVAILABILITY[teacher.availability] %></span>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <h3 class="name"><%= link_to teacher.fullname, profile_path(teacher) %></h3>
                    <h4>teaches <%= teacher.subjects.pluck(:name).join(', ').titleize %></h4>
                    <h4>teaching experience: <b>5 years</b></h4>
                    <a href="<%= profile_path(teacher.user) %>" class="view-profile-link">view profile and pricing plans</a>
                  </div>
                  <div class="col-md-4 trial-session-div">
                    <h4><span><b>4.9</b></span>
                      <span><%= number_to_currency(teacher.rate) %>/hr</span></h4>
                    <a href="online-lesson.html">Book Online</a>
                    <a href="inperson-lesson.html">In-Person lesson</a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</section>