<% @classes.each do |klass| %>
    <p>
      <%= klass.topic %>
      <% unless klass.testimonial_given?(current_user) %>
          , Give testimonial
          <%= form_for Testimonial.new, url: appointment_testimonials_path(klass) do |f| %>
              <%= f.text_area :description %> <br>
              <%= f.hidden_field :rating, id: "#{klass.id}_rating" %>
              <div class="rateYo" data-id="<%= klass.id %>"></div>
              <%= f.submit 'Rate' %>
          <% end %>
      <% end %>
    </p>
<% end %>