<div class="dashboard">
  <section class="student-profile-section class-overview">
    <% if current_user.has_role? :student %>
        <h1>classes overview (student)</h1>

    <% else %>
        <h1>classes overview (teacher)</h1>

    <% end %>

    <div class="student-profile-div ">
      <div class="personal-description-div">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="personal-description-border teacher-overviw-padding upcoming-classes open">

            <%= render 'layouts/alerts' %>
              <% if current_user.profile.profile_status.present?  %>
                <% if current_user.profile.profile_status < 100 %>
                    <h2>Your current profile is: <%=  current_user.profile.profile_status %>% complete.</h2>
                    <h5 class="text-info">You cannot search nor be listed in the search if your profile is not completed. <%= link_to 'Click here', edit_profile_path(current_user.profile), style: 'color: #cc3333' %> to edit your profile.</h5>

                <% end %>
                <% end %>



              <!--<div class="filter-div">-->
              <!--<h4>Filter By:</h4>-->
              <!--<button class="">Awaiting classes</button>-->
              <!--<button class="">Pending classes</button>-->
              <!--<button class="">Registered classes</button>-->
              <%  if @awating_confirmation.present? or @awating_payment.present? or @registered_class.present?%>
                  <%= render 'dashboard/awating_confirmation' %>
                  <%= render 'dashboard/awating_payment' %>
                  <%= render 'dashboard/registered_class' %>
              <% else %>
                  <p>Sorry you have not book any class till now.</p>
              <% end %>

              <!---payment-section--->


              <!---registered -section--->

            </div>

          </div>
          <div class="col-md-4 col-sm-12 teacher-tips-col">


            <% if current_user.has_role? :teacher %>

                <div class="teacher-tip-div">
                  <h3>Earnings</h3>
                  <p>
                    Available Now :- <%= available_earnings %>
                  </p>
                  <h5 class="word_color"><a href="<%= profile_pending_payments_path(current_user.profile) %>">View pending earnings</a> ></h5>
                  <h5 class="word_color learn-payment"><a href="#">Learn about the payment schedule</a></h5>
                </div>

            <% end %>
            <div class="teacher-tip-div hidden-xs">
              <h3>Tips for success</h3>
              <p class="techer-tips-p">
                As you gain client and complex project, make sure to keep  your profile up to date? Are there any skill or experience you can add. Can you command a higher rate?
              </p>
              <div class="previous-next-section">
                <p>
                  4 Tips
                </p>
                <div class="">
                  <a href="#">Previous</a>
                  <a href="#">Next</a>
                </div>
              </div>
            </div>
            <!--<div class="img-graph-div">-->
            <!--<span class="img-graph">-->
            <!--</span>-->
            <!--<a href="#">Reports ></a>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
