<div class="sender-details-div chating-border-bottom date-day-wrapper">
  <div>
    <h3 class="sender-name"><%= get_other_participant(@conversation.participants).name %></h3>
    <p><%= current_role get_other_participant(@conversation.participants) %></p>
  </div>
  <div><p class="date-day">thursday, <span class="font-blue">february4,2016</span></p></div>
</div>
<div class="inner-scroll-div">
  <div class="old-messages-div">
    <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="inner-border-bottom">
          <div class="image-message-div">
            <div>
              <div class="active-circle-div">
                <img src="<%= get_avatar(receipt.message.sender.profile) %>" alt="" width="70">
                <span class="active-circle"></span>
              </div>

            </div>
            <div class="messsage-full-details">
              <div class="sender-details-div">
                <h3 class="sender-name"><%= receipt.message.sender.name %>:</h3>
                <p><%= receipt.message.created_at %></p>
              </div>
              <p>
                <%= receipt.message.body %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="text-box-div">
  <%= form_for 'message', url: reply_message_path(@conversation) do |f| %>
      <%= f.text_area :message, rows: 7 %>
      <div><button class="chating-send-button">Send</button></div>
  <% end %>
</div>