<section class="techer-profile-section chatting-hero-section">
  <div class="white-bg-chating clearfix">
    <div class="row">
      <div class="col-md-4">
        <div class="chating-border-bottom search-div-wrapper">
          <div class="search-div">
            <i class="fa fa-search fa-2x"></i>
            <input type="text" class="fontAwesome" placeholder="Search contacts" value="">
          </div>
        </div>
        <div id="scroll-left">
          <% @conversations.each do |conversation| %>
              <div class="left-side-mesages-wrapper load-messages" data-conversation="<%= conversation.id %>">
                <div class="inner-border-bottom left-side-messages-div">
                  <div class="center-flex"><i class="fa fa-comments-o fa-3x" aria-hidden="true"></i></div>
                  <div class="left-side-messages">
                    <div class="sender-details-div">
                      <h3 class="sender-name"><%= get_other_participant(conversation.participants).name %>:</h3>
                      <p><%= conversation.updated_at.strftime('%d %b, %y %l:%M%p') %></p>
                    </div>
                    <p><%= conversation.last_message.body %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8 messages-wrapper" id="messages-wrapper">
        <% if @conversations.count > 0 %>
            <% @conversation = @conversations[0] %>
            <%= render 'messages_list' %>
        <% end %>
      </div>
    </div>
  </div>
</section>