<div class="container">
  <%= form_for 'message', url: create_message_path(@user) do |f| %>
      <legend style="margin-top: 20px;">Use this form to start your conversation:</legend>

      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control', rows: '10', placeholder: 'Write your message here...' %>
      </div>

      <div class="form-group">
        <%= f.submit value: 'Send message', class: 'btn btn-success' %>
      </div>
  <% end %>
</div>