
<section class="invite-friend-section border-top-blue padding-v-10">
  <section class="login-details-div">
<%= simple_form_for(@profile, :html => { :class => 'form-horizontal login-form-container login-form-div' }) do |f| %>

    <div class="form-group login-flex">
      <div class="col-sm-12 col-md-12 col-xs-12 input-flex after-select">
        <label for="" class="login-label">Your Video Link</label>

        <div class="input-div">
          <%= f.input :custom_video,placeholder: "put link here", label: false, class: "login-icon-white" %>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="" class="col-sm-12 col-xs-12 col-md-12 login-btn-div">

        <%= f.submit "UPDATE", :class => "login-btn" %>
      </label>
    </div>

<% end %>
    </section>
</section>

