
<section class="invite-friend-section border-top-blue padding-v-10">
  <section class="login-details-div">

    <%= simple_form_for([@profile,@education], :html => { :class => 'form-horizontal login-form-container login-form-div' }) do |f| %>



        <div class="form-group login-flex">


          <div class="col-sm-12 col-md-12 input-flex">
            <label for="" class="login-label">school</label>
            <div class="input-div"><%= f.input :school, label: false %></div>
          </div>
        </div>


        <div class="form-group login-flex">
          <div class="col-sm-6 col-md-6 input-flex">
            <label for="" class="login-label">year from</label>
            <div class="input-div"><%= f.input :year_from,:as => :date,
                                               :start_year => 1970, :end_year => Date.current.year, :order => [ :year], label: false %></div>
          </div>
          <div class="col-sm-6 col-md-6 input-flex">
            <label for="" class="login-label">year to</label>
            <div class="input-div"><%= f.input :year_to,:as => :date,
                                               :start_year => 1970, :end_year => Date.current.year, :order => [ :year], label: false %></div>
          </div>
        </div>

        <div class="form-group login-flex">
          <div class="col-sm-12 col-md-12 col-xs-12 input-flex after-select">
            <label for="" class="login-label">Description</label>

            <div class="input-div">
              <%= f.input :description, label: false %>
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="" class="col-sm-12 col-xs-12 col-md-12 login-btn-div">

            <%= f.submit "submit", :class => "login-btn" %>
          </label>
        </div>

    <% end %>
  </section>
</section>




