
<section class="teacher-edit-section border-top-blue padding-v-10">
  <h1 class="inperson-heading">personal <span class="font-blue">details:</span></h1>

  <section class="white-bg-section">
    <div class="grey-bg-form-wrapper personal-info-div">
      <%= render 'layouts/alerts' %>


      <%= simple_form_for(@profile, :html => { :class => 'form-horizontal form-margin-left'}) do |f| %>
          <div class="form-group profile-pic-container">
            <div class="col-md-4 profile-pic-div">
              <div class="user-pic">
                <i class="fa fa-user" aria-hidden="true"></i>
                <i class="fa fa-pencil icon-pencil-user" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-md-8">
              <div class="input-div sml-hide">
                <%= f.input :avatar, as: :file, class: 'file-selection', label: false %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="course-name" class="col-sm-4 col-md-4 control-label label-design">First name:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :firstname, label: false %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>
          <div class="form-group">
            <label for="course-name" class="col-sm-4 col-md-4 control-label label-design">last name:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :lastname, label: false %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <div class="form-group">
            <label for="course-name" class="col-sm-4 col-md-4 control-label label-design">address:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div">
                <%= f.input :address, :cols => 30, rows: 10, label: false %>
              </div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>





          <div class="form-group">
            <label for="course-name" class="col-sm-4 col-md-4 control-label label-design">native language:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :native_language, label: false %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <div class="form-group">
            <label for="course-name" class="col-sm-4 col-md-4 control-label label-design">additional language:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :additional_languages, label: false %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <div class="form-group">
            <label for="post-code" class="col-sm-4 col-md-4 control-label label-design">standard:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :standard, label: false, :collection => Profile::STANDARD.sort.map {|k,v| [v,k]}%></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <div class="form-group">
            <label for="course-name" class="col-sm-4 col-md-4 control-label label-design">about:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div">
                <%= f.input :about, label: false %>
              </div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>


          <div class="form-group">
            <label for="post-code" class="col-sm-4 col-md-4 control-label label-design">phone 1:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :phone1, label: false %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <div class="form-group">
            <label for="post-code" class="col-sm-4 col-md-4 control-label label-design">phone 2:</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.input :phone2, label: false %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <% if current_user.has_role? :teacher %>
              <div class="form-group">
                <label for="post-code" class="col-sm-4 col-md-4 control-label label-design">rate:</label>
                <div class="col-sm-8 col-md-8">
                  <div class="input-div"><%= f.input :rate, label: false %></div>
                  <span class="cumpulsory-star color-red">*</span>
                </div>
              </div>

              <div class="form-group">
                <label for="profile_availability" class="col-sm-4 col-md-4 control-label label-design">Availability</label>
                <div class="col-sm-8 col-md-8">
                  <div class="input-div"><%= f.collection_select :availability, Profile::AVAILABILITY, :first, :second %></div>
                  <span class="cumpulsory-star color-red">*</span>
                </div>
              </div>
          <% end %>

          <div class="form-group">
            <label for="profile_zone" class="col-sm-4 col-md-4 control-label label-design">Timezone</label>
            <div class="col-sm-8 col-md-8">
              <div class="input-div"><%= f.time_zone_select :zone, nil %></div>
              <span class="cumpulsory-star color-red">*</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
              <%= f.button :submit, class: 'update-profile-btn' %>
            </div>
          </div>
      <% end %>
    </div>
  </section>
</section>
