<div class="view">
  <section class="techer-profile-section">
    <div class="review-div">
      <h3>
        <% if @is_teacher %>
            Teacher Profile
        <% else %>
            Student Profile
        <% end %>

      </h3>
      <div>
        <span class="review-text">Average rating:</span>
        <% if @profile.user.testimonials.average(:rating) %>
            <% (1..@profile.user.testimonials.average(:rating).ceil.to_i).each do |a| %>
                <i class="fa fa-star icon-star"></i>
            <% end %>
        <% end %>
        <span class="review-text">(<%= @profile.user.testimonials.count %> reviews)</span>
      </div>
    </div>
    <div class="bg-white">
      <div class="row circl-imgdiv">
        <div class="col-md-5 col-xs-6 col-sm-3 circle-row">

          <% if @profile.avatar.present? %>
              <%= image_tag @profile.avatar_url(:thumb), class: 'aditya-pic' %>
          <% end %>
        </div>
        <div class="col-md-7 col-xs-6 col-sm-9 circle-row">
          <div class="aditya-col">
            <h4 class="aditya-h4"><span class="h4-bold"><%= @profile.fullname %></span> <% if @profile.user == current_user %><%= link_to edit_profile_path do %> <span><i class = "fa fa-pencil"></i></span><% end %> <% end %></h4>




            <h4 class="doller-h4" data-toggle="modal" data-target="#rateModal">

              <% if @is_teacher %>
                  <% if @profile.rate.present? %>
                      <%= number_to_currency(@profile.rate) %>/hr
                  <% else %>
                      $0.00/hr <div style="color: #cc3333; font-size: 10px;">( Please change this. )</div>
                  <% end %>

              <% end %>

            </h4>

            <div class="modal fade bs-example-modal-lg" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change hourly Rate</h4>
                  </div>
                  <div class="modal-body">
                    <p>Please change your hourly rate here. WikiLessons will deduct a percentage of 12% from the amount that you enter.</p>
                    <table>
                      <tr>
                        <td>
                          <b>Hourly Rate</b>
                          <p>This is the amount the client will see</p>
                        </td>
                        <td class="value-side">
                          <label for="">$</label>
                          <input id="value_a" type="text">
                          <span>/ hr</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>12% Wiki Lesson service fee</b>
                        </td>
                        <td class="value-side">
                          <label for="">$</label>
                          <input id="serviceval" class="transinput" type="text">
                          <span>/ hr</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>You'll recieve</b>
                          <p>The estimated amount you'll recieve after service fee.</p>
                        </td>
                        <td class="value-side">
                          <label for="">$</label>
                          <input id="final" type="text">
                          <span>/ hr</span>
                        </td>
                      </tr>

                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="save_newrate_button" data-profileid="<%= @profile.id %>">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <% if @profile.user.has_role? :teacher %>
                <%= link_to 'Send Message', new_message_path(id: @profile.user_id) %>
            <% end %>
            <div class="div-with-more-subject">
              <% if @tags.any? %>

                  <% @tags.each do |f| %>
                      <button class="btn-grey" type="button" name="button"><%= f.name %></button>
                  <% end %>

              <% else %>
                  <p>No subjects added. Please add your speciality.</p>


              <% end %>
            </div>
          </div>


          <% if @profile.user != current_user %>

              <div>
                <div id="book-app">

                  <book-class teacherid="<%= @profile.id %>"></book-class>

                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div class="row profile-progress-div">
        <div class="col-md-6">
          <p><span class="font-blue"><%= @profile.profile_status %>%</span> Basic Profile Completion</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= @profile.profile_status %>%">
            </div>
          </div>
        </div>
        <div class="col-md-6 right-worked-history">
          <h4>Class history:</h4>
          <p><span><%= pluralize @total_hours, 'hour', 'hours' %></span> taught.</p>
          <p><%= pluralize @total_classes, 'class', 'classes' %></p>
        </div>
      </div>

      <div  class="techer-profile-section bg-white">
        <div class="personal-description-div">

          <% if @profile.user == current_user %>
              <span id="add_education" class="add_skill"><span class="font-circle"><i class="fa fa-plus"></i></span>Edit Subjects</span>
              <div class="section-of-form-for-experience" id ="skill_form"><%= render 'profiles/tagfield' %></div>
          <% end %>
        </div>
      </div>

      <div class="video-border">

        <% if @profile.custom_video.present? %>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @profile.video %>"></iframe>
            </div>
        <% end %>
        <% if @profile.user == current_user %>
            <div class="video-upload-div">

            <span class="video-circle">
              <i class="fa fa-play" aria-hidden="true"></i>
            </span>
              <h3>place video</h3>
            </div>
            <div id="video-url" class="section-of-form-for-experience"><%= render 'profiles/customvideo' %></div>
        <% end %>


      </div>

      <div class="overview-div personal-description-div">
        <h3 class="description-h3 heading-border-bottom">description:<% if @profile.user == current_user %><%= link_to edit_profile_path do %> <span><i class = "fa fa-pencil"></i></span> <% end %> <% end %> </h3>
        <p>
          <%= @profile.about %>
        </p>
      </div>
    </div>

    <div  class="techer-profile-section bg-white">
      <div class="personal-description-div">
        <h3 class="description-h3 heading-border-bottom">teaching <span class="word_color">experience:</span></h3>
        <ul class="personal-description-border">
          <% @experience.each do |f| %>
              <li>
                <p><span class="word_color"><%= f.subject %>-</span>  <%= f.description %></p>
              </li>
          <% end %>
        </ul>
        <% if current_user == @profile.user  %>

            <span id="add_education" class="add_experience"><span class="font-circle"><i class="fa fa-plus"></i></span>Add Experience</span>
            <div class="row section-of-form-for-experience" id="experience_form">
              <%= render 'profiles/experience' %>
            </div>

        <% end %>
      </div>
    </div>
    <div  class="techer-profile-section bg-white">
      <div class="personal-description-div">
        <h3 class="description-h3 heading-border-bottom">teaching <span class="word_color">approach:</span></h3>
        <div class="personal-description-border">
          <p>A variety which are flexible and dependent on the student</p>
        </div>

      </div>
    </div>
    <div  class="techer-profile-section bg-white">
      <div class="personal-description-div">
        <h3 class="description-h3 heading-border-bottom">qualifications:</h3>

        <ul class="personal-description-border">
          <% @all_education.each do |f| %>
              <li>
                <p><span class="word_color"><%= f.school %>(<%= f.year_from.strftime("%Y") %> - <%= f.year_to.strftime("%Y") %>)-</span>  <%= f.description %></p>
              </li>

          <% end %>

        </ul>
        <% if current_user == @profile.user  %>

            <span id="add_education" class="add_education"><span class="font-circle"><i class="fa fa-plus"></i></span>Add Education</span>
            <div class="row section-of-form-for-experience" id="education_form">
              <%= render 'profiles/education' %>
            </div>
        <% end %>
      </div>
    </div>
    <div  class="techer-profile-section bg-white">
      <div class="maps-div">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 ">
            <div class="extra-map-para hidden-sm hidden-lg hidden-md" >
              <p>native language: english (british)</p>
              <p>additional language: chinese, portuguise, malay</p>
              <p>profile links: <a href="">http://www.wikilesson.com</a> </p>
            </div>
            <div class="mapspara">

              <div class="mapspara-heading">
                <p>native language:</p>
                <p>additional language:</p>
                <p>profile links: </p>

              </div>
              <div class="maps-para-right">
                <p><%= @profile.native_language %></p>
                <p><%= @profile.additional_languages %></p>
                <a href="">http://www.wikilesson.com</a>
                <p class="copy-link">copy link</p>
                <div style="height: 95px;"></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 ">
            <h3 class="description-h3">location:</h3>
            <div id="map">
            </div>


          </div>

        </div>
        <h3 class="description-h3">share it <span class="word_color">with:</span></h3>
        <div class="social-link-btns">
          <button class="btn-blue" type="button" name="button"><i class="fa fa-facebook"></i>facebook</button>
          <button class="btn_twitter" type="button" name="button"><i class="fa fa-twitter"></i>twitter</button>
          <button class="btn-navyblue"type="button" name="button"><i class="fa fa-linkedin"></i>linkedin</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUx6QUI6AoZvDswOgJZA30e3_0l1UJGg8"></script>
  </section>
</div>




