<section class="login-page border-top-blue padding-v-10">
  <section class="login-details-div">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'form-horizontal login-form-container login-form-div' }) do |f| %>

        <h1>Registration</h1>
        <%= devise_error_messages! %>

        <div class="form-group login-flex">
          <label for="" class="col-sm-2 col-md-1">
          <span class="icon-wrapper">
              <i class="fa fa-user login-icon-div-white"></i>
          </span>
          </label>

          <div class="col-sm-10 col-md-11 input-flex">
            <label for="" class="login-label">username</label>
            <div class="input-div"><%= f.text_field :username, autofocus: true %></div>
          </div>
        </div>

        <div class="form-group login-flex">
        <label for="" class="col-sm-2 col-md-1">
          <span class="icon-wrapper">
              <i class="fa fa-envelope login-icon-div-white"></i>
          </span>
        </label>

        <div class="col-sm-10 col-md-11 input-flex">
          <label for="" class="login-label">email</label>
          <div class="input-div"><%= f.email_field :email %></div>
        </div>
      </div>


        <div class="form-group login-flex">
          <label class="col-sm-2 col-md-1 col-xs-2">
            <span class="icon-wrapper">
              <i class="fa fa-user-secret login-icon-div-white"></i>
          </span>
          </label>

          <div class="col-sm-10 col-md-11 col-xs-10  input-flex after-select">
            <label for="" class="login-label">register as a</label>

            <div class="input-div">
              <%= f.select :role, :collection => User::ROLES.sort.map {|k,v| [v,k]} %>
            </div>

          </div>

        </div>

      <div class="form-group login-flex">
        <label for="" class="col-sm-2 col-md-1">
          <span class="icon-wrapper">
              <i class="fa fa-lock login-icon-div-trans"></i>
          </span>
        </label>
        <div class="col-sm-10 col-md-11 input-flex">
          <label for="" class="login-label">password<% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br /></label>
          <div class="input-div">
            <%= f.password_field :password, autocomplete: "off" %></div>
        </div>
      </div>

      <div class="form-group login-flex">
        <label for="" class="col-sm-2 col-md-1">
          <span class="icon-wrapper">
              <i class="fa fa-lock login-icon-div-trans"></i>
          </span>
        </label>
        <div class="col-sm-10 col-md-11 input-flex">
          <label for="" class="login-label">confirm password</label>
          <div class="input-div"> <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
        </div>
      </div>




      <div class="form-group">
        <label for="" class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11 login-btn-div">

          <%= f.submit "Register", :class => "login-btn" %>
        </label>
      </div>
        <%- if controller_name != 'sessions' %>
        <div class="forget-link-container">
          <span class="signup-link">

            already a member? <%= link_to "Log in", new_session_path(resource_name), :class => 'font-blue' %>

          </span>
        </div>
        <% end -%>

  </section>
</section>

<% end %>
