<section class="invite-friend-section border-top-blue padding-v-10">
  <section class="login-details-div bg-white login-white-div">
    <h2>Retrieve <span class="font-blue">log in:</span></h2>
    <h3>lost your login details:</h3>
    <h6 class="retrieve-para">To have your username and password details e-mailed to you please enter the e-mail address
      that you used to register below. An e-mail will be generated containing your login details(user name and password)
      and send to that address.
    </h6>
    <div class="bg-light-grey login-retrieve-form-wrapper">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,:class => 'form-horizontal login-form-container' }) do |f| %>
          <%= devise_error_messages! %>
        <div class="form-group login-flex">
          <label for="" class="col-sm-2 col-md-1">
            <span class="icon-wrapper">
                <i class="fa fa-envelope login-icon-div-white"></i>
            </span>
          </label>

          <div class="col-sm-10 col-md-11 input-flex">
            <label for="" class="login-label">email</label>
            <div class="input-div"><%= f.email_field :email, autofocus: true %></div>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-md-offset-1 col-md-11 col-sm-offset-2 col-sm-10">
            <%= f.submit "Send me reset password instructions", class: 'login-retrieve-btn' %>

          </label>
        </div>

          <% end %>
    </div>
    <h6 class="retrieve-para">If for any reason you have difficulty using this system(e.g. cannot remember the details you used upon registration) please <span class="font-blue">CONTACT OUR SUPPORT SERVICE</span>
      and we will help retrieve your details.
    </h6>
  </section>
</section>


