<section class="teacher-hero-section bg-blue border-top-blue">
  <section class="trans-bg">
  <div class="info-main-container bg-white">
    <div class="trans-bg">
    <div class="pencil-container">
      <%= image_tag 'pencil.png', width: '300', class: 'margin-left-20' %>
      <h1 class="underline">about <span class="color-blue">wiki lessons</span></h1>
    </div>

      <div class="border margin-bottom-30">
        <div class="grey-container">
          <div class="padding-h15">
            <p class="terms-conditions-para">
              Wiki Lessons was established in 2016 with the aim of helping people with great tutors in their local area. As the first service of
              our kind, we have won industry awards been recommended bt <b class="color-blue">THE GOOD SCHOOLS GUIDE</b> and appear regularly in the educational,
              reginal and national press. We are committed to making the tution market more open nad merit-based.
            </p>
          </div>
        </div>
      </div>
      <div class="pencil-container">
        <%= image_tag 'pencil.png', width: '300', class: 'margin-left-20' %>
        <h1><span class="color-blue">wiki lessons</span><span class="underline"> <small>vs</small> Typical agency</span></h1>
      </div>

    <div class="border">
      <div class="grey-container">
        <div class="">
          <p class="terms-conditions-para">Wiki Lessons differs from conventional Tution Agencies and it is important you understand how:</p>
          <ul>
            <li>
                Browse and select your tutor yourself: there is no middle man.
              </li>
            <li>
              Contact your choosen tutors directly through our private forum to discuss your needs no-payment necessary.
            </li>
            <li>
              We don't perform DBS check ourselve- this means you must asked to double-check any reference/DBSs your tutor claim.
            </li>
            <li>
              We ask for a $4.45-9.78 introduction fee and that's all. We don't ask for a $9.99 fee on top of every hour a tutor teaches but
              equally we cannot fairly intervene if you are not happy with the tutor you have choosen because we donnot manage the ongoing relatioship.
              We do however collect the feedback from all tutees their tutors a couple of week after making an introduction for the benefits of other parents and tutees.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
</section>
</section>
