<section class="teacher-hero-section bg-blue border-top-blue">
  <section class="trans-bg">
    <div class="info-main-container bg-white">
      <div class="trans-bg">
        <div class="pencil-container">
          <%= image_tag 'pencil.png', width: '300', class: 'margin-left-20' %>
          <h1 class="">latest <span class="color-blue">blog post</span></h1>
          <div class="panel panel-style">
            <div class="panel-heading">search blog</div>
            <div class="panel-body">
              <form action="">
                <label for="">search for</label>
                <div>
                  <input type="text">
                </div>
                <div style="display:flex;justify-content:center;">
                  <button class="blog-button">Search</button>
                </div>
              </form>
            </div>
        </div>
      </div>

      <div class="complete-question">
        <div class="flex-center">
          <div class="triangle"></div>
          <h2 class="margin-top0 blog-heading">4 easy ways to expand your child's vocabulary</h2>
        </div>
        <p class="margin-left-5"><b class="color-blue">August 9th, 2016</b> by Anna Micheldaos</p>
        <div class="border margin-botom17">
          <div class=" grey-container">
            <div class="padding-h15">
              <p class="terms-conditions-para">
                This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
                available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
                or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
              </p>
              <button class="blog-button margin-botom17">READ MORE</button>

            </div>
          </div>
        </div>
      </div>

      <div class="complete-question">
        <div class="flex-center">
          <div class="triangle"></div>
          <h2  class="margin-top0 blog-heading">8 days to keep your child academically minded over the summer holidays</h2>
        </div>
        <p class="margin-left-5"><b class="color-blue">August 9th, 2016</b> by Anna Micheldaos</p>
        <div class="border margin-botom17">
          <div class=" grey-container">
            <div class="padding-h15">
              <p class="terms-conditions-para">
                This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
                available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
                or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
              </p>
              <button class="blog-button margin-botom17">READ MORE</button>

            </div>
          </div>
        </div>
      </div>

      <div class="complete-question">
        <div class="flex-center">
          <div class="triangle"></div>
          <h2 class="margin-top0 blog-heading">The best free 11plus resources</h2>
        </div>
        <p class="margin-left-5"><b class="color-blue">August 9th, 2016</b> by Anna Micheldaos</p>
        <div class="border margin-botom17">
          <div class=" grey-container">
            <div class="padding-h15">
              <p class="terms-conditions-para">
                This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
                available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
                or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
              </p>
              <button class="blog-button margin-botom17">READ MORE</button>

            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
      <ul class="pagination blogpagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    </div>
  </div>

  </section>
</section>
