<section class="contact-us-section border-top-blue padding-v-10">
    <p></p>
    <section class="friend-info bg-white">
      <h2 class="contact-us-heading">contact <span class="font-blue">us</span></h2>
        <div class="border contact-us-para-div">
          <p class="contact-us-para">
            When you contact us, you'll recieve a reply back immediately to acknowledge your support request and online
            answer to some of the most questions users have. If this doesn't answer your question, please reply to the email
            and we will do our best to answer to you within 24 hours but would urge you to first look at our
            <span class="font-blue">HOW DOES IT WORK FOR TEACHERS</span> and <span class="font-blue">HOW DOES IT WORK FOR LEARNERS</span>
            section before submitting a request. The more information you can tell us the faster we can help.
          </p>
        </div>
          <h2 class="contact-us-heading">contact <span class="font-blue">wiki lessons</span>:</h2>
          <div class="bg-light-grey registration-form-wrapper">
            <form class="form-horizontal form-margin-left">

              <div class="form-group">
                <label for="email" class="col-sm-4 col-md-4 control-label label-design">e-mail<span class="font-blue">(help):</span></label>
                <div class="col-sm-8 col-md-8">
                  <div class="input-div"><input type="email"></div>
                  <span class="cumpulsory-star color-red">*</span>
                </div>
              </div>
              <div class="form-group">
                <label for="firstname" class="col-sm-4 col-md-4 control-label label-design">first name <span class="font-blue">(help):</span></label>
                <div class="col-sm-8 col-md-8">
                  <div class="input-div"><input type="text"></div>
                  <span class="cumpulsory-star color-red">*</span>
                </div>
              </div>
            <div class="form-group">
              <label for="surname" class="col-sm-4 col-md-4 control-label label-design">surname <span class="font-blue">(help):</span></label>
              <div class="col-sm-8 col-md-8">
                <div class="input-div"><input type="text"></div>
                <span class="cumpulsory-star color-red">*</span>
              </div>
            </div>
            <div class="form-group">
              <label for="surname" class="col-sm-4 col-md-4 control-label label-design">email subject <span class="font-blue">(help):</span></label>
              <div class="col-sm-8 col-md-8">
                <div class="input-div">
                  <textarea name="" id="" rows="7" class="contact-us-text-area"></textarea>
                </div>
                <span class="cumpulsory-star color-red">*</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 ">
                <button class="contact-send-button margin-top20">Send Mail</button>
              </div>
            </div>
          </form>
      </div>
        <h2 class="contact-us-heading">correspondence <span class="font-blue">address </span></h2>
        <div class="border contact-us-para-div contact-us-address">
          <address class="contact-us-para">
            <b>
              Wiki lessons,<br>
              Bay Business Center,<br>
              West End Community Enterprise Center,<br>
              Westminster Road,<br>
              Lancashire, <b>LA4 4JE</b>
            </b>
          </address>
          <address class="contact-us-para">
            <b>
              Company Number : 6090717<br>
              VAT Registration : 765059363<br>
              Enquiries : ku.hj@gmail.com / wl@yahoo.com
            </b>
          </address>
        </div>
    </section>
</section>

<div class="contact-map-wrapper clearfix">
  <div id="contact-map"></div>
    <div class="floating-address">
      <h1>registered <span class="font-blue">address</span></h1>
      <address>
        EduNation Ltd c/o RfM Flyde Limited<br>
        Summrdane,<br>
        Head Dyke Lane,<br>
        Pilling,<br>
        Prestone
      </address>
    </div>
</div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOX3YIM6Ae-pGzjuC4D0vV35NBeFfzVTs"></script>
    <script type="text/javascript">
        var myLatlng;
        var map;
        var marker;

        function initialize() {
            myLatlng = new google.maps.LatLng(51.5, -0.12);

            var mapOptions = {
                zoom: 13,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: true,
                draggable: true
            };
            map = new google.maps.Map(document.getElementById('contact-map'),mapOptions);


            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Marker'
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
