<section class="courses-hero-section">
  <div class="courses-opacity">
    <div class="container">
      <h1>Live online courses</h1>
      <div class="row">
        <div class="col-md-4 courses-flex">
          <div>
            <%= image_tag 'courses-icon1.png', width: '80' %>
          </div>
          <div>
            <h2>awesome teachers</h2>
            <p>Who will teach you live in realtime</p>
          </div>
        </div>
        <div class="col-md-4 courses-flex">
          <div>
            <%= image_tag 'courses-icon2.png', width: '80' %>
          </div>
          <div>
            <h2>highly personalized</h2>
            <p>small learning groups of 5-7 students each</p>
          </div>
        </div>
        <div class="col-md-4">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/go8HZ9vrmOo" frameborder="2" allowfullscreen></iframe>
        </div>
      </div>
      <%= link_to 'how it works', howitwork_path , class: 'view-subject-button' %>
    </div>
  </div>
</section>

<section class="course-list-section">
  <div class="container">
    <h1 class="courses-heading">course <span class="font-blue">list</span></h1>
    <div class="row grade-selection-row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <select class="form-control input-selection">
        <option class="disabled hidden">grade</option>
        <option>1st Standard</option>
        <option>3rd Standard</option>
        <option>4th Standard</option>
        <option>5th Standard</option>
        <option>6th Standard</option>
        <option>7th Standard</option>
        </select>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <select class="form-control input-selection">
          <option class="disabled hidden">subject</option>
          <option>Maths</option>
          <option>History</option>
          <option>Economics</option>
          <option>Geography</option>
          <option>Physics</option>
          <option>Sociology</option>
          <option>Biology</option>
        </select>
      </div>
    </div>
    <div class="courses-btn-wrapper">
      <button type="button" name="button" class="btn_green view-subject-button">search</button>
    </div>
  </div>
</section>

<section class="courses-tab-section">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">featured</a></li>
      <li><a data-toggle="tab" href="#menu1">popular</a></li>
      <li><a data-toggle="tab" href="#menu2">new</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <%= image_tag 'featured1.png', width: '100%' %>
            <h3>English</h3>
          </div>
          <div class="col-md-4 col-sm-6">
            <%= image_tag 'featured2.png', width: '100%' %>
            <h3>digital marketing</h3>
          </div>
          <div class="col-md-offset-0 col-md-4 col-sm-offset-3 col-sm-6">
            <%= image_tag 'featured3.png', width: '100%' %>
            <h3>accounting</h3>
          </div>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <%= image_tag 'featured1.png', width: '100%' %>
            <h3>English</h3>
          </div>
          <div class="col-md-4 col-sm-6">
            <%= image_tag 'featured2.png', width: '100%' %>
            <h3>digital marketing</h3>
          </div>
          <div class="col-md-offset-0 col-md-4 col-sm-offset-3 col-sm-6">
            <%= image_tag 'featured3.png', width: '100%' %>
            <h3>accounting</h3>
          </div>
        </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <%= image_tag 'featured1.png', width: '100%' %>
            <h3>English</h3>
          </div>
          <div class="col-md-4 col-sm-6">
            <%= image_tag 'featured2.png', width: '100%' %>
            <h3>digital marketing</h3>
          </div>
          <div class="col-md-offset-0 col-md-4 col-sm-offset-3 col-sm-6">
            <%= image_tag 'featured3.png', width: '100%' %>
            <h3>accounting</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="courses-btn-wrapper">
      <a href="" class="view-subject-button">view all subjects</a>
    </div>
  </div>
</section>

<section class="subject-name-section">
  <div class="container">
    <h1 class="courses-heading">course <span class="font-blue">name</span></h1>
    <div class="checkbox-div-wrapper">
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            english
          </span>
        </label>

      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            mathematics
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            biology
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            chemistry
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            history
          </span>
        </label>
      </div>
    </div>

    <div class="checkbox-div-wrapper">
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            physics
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label check-box-div">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            geography
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            politics
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            sociology
          </span>
        </label>
      </div>
      <div class="checkbox check-box-div">
        <label class="checkbox-label">
          <input id="offer-2" type="checkbox"  class="checkbox-custom">
          <div class="checkbox-custom-label"></div>
          <span class="checkbox-text">
            economics
          </span>
        </label>
      </div>
    </div>
    <div class="courses-btn-wrapper">
      <a href="" class="view-subject-button">view all subjects</a>
    </div>
  </div>
</section>

<section class="container">
  <div class="cant-find-section bg-light-grey">
    <input type="text" placeholder="can't find your course?">
    <button class="course-submit">submit</button>
  </div>
</section>
