<!--main section--->
<section class="teacher-hero-section bg-blue">
  <div class="info-main-container bg-white">
    <div class="pencil-container">
      <%= image_tag 'pencil.png', width: '300', class: 'margin-left-20' %>
      <h1 class="underline">frequently <span class="color-blue">asked questions</span></h1>
    </div>
    <!---first question-->
  <div class="complete-question">
    <div class="border question-in-div" id="question-in-div-first">
      <h2 class="color-blue heading-in-div">How Wiki Lessons work?</h2>
    </div>
    <div class="triangle1">
      <div class="triangle"></div>
      <h2>how wiki lessons work?</h2>
    </div>
    <div class="border answer margin-botom17">
      <div class=" grey-container">
        <div class="padding-h15">
          <p class="terms-conditions-para">
            This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
            available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
            or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
          </p>
        </div>
      </div>
    </div>
  </div>
    <!---second question-->
  <div class="complete-question">
    <div class="border question-in-div" id="question-in-div-second">
      <h2 class="color-blue heading-in-div">I need a teacher for a subject not listed here, Can you help?</h2>
    </div>
    <div class="triangle1">
      <div class="triangle"></div>
      <h2>I need a teacher for a subject not listed here, Can you help?</h2>
    </div>
    <div class="border answer margin-botom17">
      <div class=" grey-container">
        <div class="padding-h15">
          <p class="terms-conditions-para">
            This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
            available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
            or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
          </p>
        </div>
      </div>
    </div>
  </div>
    <!---third question-->
  <div class="complete-question">
    <div class="border question-in-div"id="question-in-div-third">
      <h2 class="color-blue heading-in-div">How do I give a feedback about your Website?</h2>
    </div>
    <div class="triangle1">
      <div class="triangle"></div>
      <h2>How do I give a feedback about your Website?</h2>
    </div>
    <div class="border answer margin-botom17">
      <div class=" grey-container">
        <div class="padding-h15">
          <p class="terms-conditions-para">
            This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
            available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
            or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---fourth question-->
  <div class="complete-question">
    <div class="border question-in-div" id="question-in-div-first">
      <h2 class="color-blue heading-in-div">What makes Wiki Lessons unique?</h2>
    </div>
    <div class="triangle1">
      <div class="triangle"></div>
      <h2>What makes Wiki Lessons unique?</h2>
    </div>
    <div class="border answer margin-botom17">
      <div class=" grey-container">
        <div class="padding-h15">
          <p class="terms-conditions-para">
            This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
            available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
            or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---fifth question-->
  <div class="complete-question">
    <div class="border question-in-div" id="question-in-div-second">
      <h2 class="color-blue heading-in-div">What is the diffrence between Wiki Lessons and going to the Tutor Agency?</h2>
    </div>
    <div class="triangle1">
      <div class="triangle"></div>
      <h2>What is the diffrence between Wiki Lessons and going to the Tutor Agency?</h2>
    </div>
    <div class="border answer margin-botom17">
      <div class=" grey-container">
        <div class="padding-h15">
          <p class="terms-conditions-para">
            This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
            available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
            or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---sixth question-->
  <div class="complete-question">
    <div class="border question-in-div"id="question-in-div-third">
      <h2 class="color-blue heading-in-div">Who uses Wiki Lessons?</h2>
    </div>
    <div class="triangle1">
      <div class="triangle"></div>
      <h2>Who uses Wiki Lessons?</h2>
    </div>
    <div class="border answer margin-botom17">
      <div class=" grey-container">
        <div class="padding-h15">
          <p class="terms-conditions-para">
            This document (Terms) set out the terms and conditions on which we provide us Tirst Tutors: Languages website (Website) and the services
            available through the Website (Services) to you as the user of the Website or the Services(User,You or Your). By using the Website or Our Services
            or registering with us, you are confirming that you agree to these Terms so please take the time to read and understand them.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</section>
