<section class="teacher-hero-section bg-blue border-top-blue">
  <section class="trans-bg">
    <div class="info-main-container bg-white">
      <section class="trans-bg">
        <div class="pencil-container">
          <%= image_tag 'pencil.png', width:'300', class: 'margin-left-20' %>
          <h1 class="underline">how does <span class="color-blue">wiki lessons work?</span></h1>
        </div>
        <div class="border margin-bottom-30">
          <div class="grey-container">
            <p class="last-para"> <b>Use First Tutors to FIND TUTORS near you who meet your specific requirements.</b></p>
            <div class="padding-h15">
              <p class="terms-conditions-para">
                <b>Step1:</b>
                Register as a tutee(it's free!).
              </p>
              <p class="terms-conditions-para">
                <b>Step2:</b>
                Use our search engine to find the right tutor for you.
              </p>
              <p class="terms-conditions-para">
                <b>Step3:</b>
                Make contact with as many tutors as you wish for free and discuss all tution needs through our system via your member's area.
              </p>
              <p class="terms-conditions-para">
                <b>Step4:</b>
                Once if you decided to go ahead with a tutor, and they have accepted your request, you can pay the intro fee($4.99-9.79) to recieve
                the tutor's details.
              </p>
            </div>
          </div>
        </div>
          <p class="terms-conditions-para" style="margin:5%;">If you have a question, or are unsure please contact us using our <a href="" class="color-blue">SUPPORT FORM</a> and we will guide you through the process.</p>

        <div class="pencil-container">
          <%= image_tag 'pencil.png', width:'300', class: 'margin-left-20' %>
          <h1 class="underline">see <span class="color-blue">how it works...</span></h1>
        </div>

        <div class="center-align-elements">
          <iframe width="70%" height="380" src="https://www.youtube.com/embed/Qhyz1HD86Yk" frameborder="0" allowfullscreen></iframe>
        </div>

      </section>

    </div>
  </section>
</section>
