<section class="wiki-form-section">
  <div class="container">
    <h1 class="home-h1">get a personal teacher now !</h1>

    <div class="hompage-search-div">
      <div class="" id="fkbx">
        <!--Please enter your subject-->
        <div id="fkbx-text">

          <%= form_for 'teacher', url: book_class_path do |f| %>
              <input id="q" name="teacher[subject]" aria-hidden="true" autocomplete="off" tabindex="-1" type="text">
          <% end %>
        </div>
      </div>
      <div class="home-search-icon">
        <i class="fa fa-search" aria-hidden="true"></i>

      </div>
    </div>


  </div>

</section>
<div class="container">
  <div class="row select-need-hidden500">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="need-discussion-row">
        <div class="need-discuss-div">
          <%= image_tag 'icon1-01.png', width:'30%' %>
          <h4>1.Select your private tutor</h4>
          <p>Find private tutor you're comfortable with to help you succeed in everything from beginers French,or GCSE Maths to degree liews from existing clients so you can choose a credible tutor with confidence.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="need-discussion-row">
        <div class="need-discuss-div">
          <%= image_tag 'icon2-01.png', width:'30%' %>
          <h4 class="second-h4">2.Discuss your educational needs</h4>
          <p>Use our secure platform to share diaries with private tutors, discuss syllabi,and arrange the best location for your private tuition. We'll take up references and run an identify check for  you.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0 col-xs-6 col-xs-offset-3">
      <div class="need-discussion-row">
        <div class="need-discuss-div">
          <%= image_tag 'icon3-01.png', width:'30%' %>
          <h4 class="third-h4">3.Start learning</h4>
          <p>Pay our one-off fee (between $4.99-$19.99, linked to tutors rate) to connect with your private tutor and begin your lessons. No fixed term commitments.No hourly commission. Just private tution.</p>

        </div>
      </div>
    </div>

  </div>
  <div class="row select-need-hidden hidden-lg hidden-md hidden-sm">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="need-discussion-row">
        <div class="need-discuss-div">
          <%= image_tag 'icon1-01.png', width:'30%' %>
          <h4>1.Select your private tutor</h4>
          <p>Find private tutor you're comfortable with to help you succeed in everything from beginers French,or GCSE Maths to degree liews from existing clients so you can choose a credible tutor with confidence.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="need-discussion-row">
        <div class="need-discuss-div">
          <%= image_tag 'icon2-01.png', width:'30%' %>
          <h4 class="second-h4">2.Discuss your educational needs</h4>
          <p>Use our secure platform to share diaries with private tutors, discuss syllabi,and arrange the best location for your private tuition. We'll take up references and run an identify check for  you.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0 col-xs-12">
      <div class="need-discussion-row">
        <div class="need-discuss-div">
          <%= image_tag 'icon3-01.png', width:'30%' %>
          <h4 class="third-h4">3.Start learning</h4>
          <p>Pay our one-off fee (between $4.99-$19.99, linked to tutors rate) to connect with your private tutor and begin your lessons. No fixed term commitments.No hourly commission. Just private tution.</p>

        </div>
      </div>
    </div>
  </div>
</div>
<section class="popular-course-section">
  <div class="container">
    <h2 class="heading-h2">popular <span class="word_color">course</span></h2>
    <p class="style-p">choose your subject</p>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon4-01.png', width:'50' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>art nad craft</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon5-01.png', width:'50' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>language</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon6-01.png', width:'50' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>sports</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon7-01.png', width:'40' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>i.t</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon8-01.png', width:'40' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>dance</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon9-01.png', width:'60' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>academy</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon10-01.png', width:'50' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>business</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <span class="circle-green-border">
          <span class="circle-green">
            <%= image_tag 'icon11-01.png', width:'40' %>
          </span>
        </span>
        <div class="arrow-icon-div">
          <h6>music</h6>
          <%= image_tag 'arrow-01-01.png', width:'25' %>
        </div>
      </div>
    </div>
    <button type="button" name="button" class="shadow-btn">View all subjects</button>
  </div>
</section>
<section class="select-teacher-section">
  <div class="container">
    <h2 class="heading-h2">learn from the <span class="word_color">best</span></h2>
    <p class="style-p">choose your teacher</p>
  </div>
  <div class="teacher-selection-div">
    <div class="img-opcity">
      <div class="container">
        <div class="row all-row-margin">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="img-thumbnail">
              <div  class="teacher-pic" >
                <%= image_tag '3-01.png', class:"img-responsive" %>
                <div class="light-blackdiv">
                  <h3>Alina jain</h3>
                </div>
              </div>
              <div class="star-div">
                <h6>french teacher</h6>
                <div class="hidden-xs hidden-sm">
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                </div>
              </div>
              <div class="hidden-md hidden-lg">
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="img-thumbnail">
              <div  class="teacher-pic" >
                <%= image_tag '4-01.png', class:"img-responsive" %>
                <div class="light-blackdiv">
                  <h3>Alina jain</h3>
                </div>
              </div>
              <div class="star-div">
                <h6>french teacher</h6>
                <div class="hidden-xs hidden-sm">
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                </div>
              </div>
              <div class="hidden-md hidden-lg">
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="img-thumbnail">
              <div  class="teacher-pic" >
                <%= image_tag '5-01.png', class:"img-responsive" %>
                <div class="light-blackdiv">
                  <h3>Alina jain</h3>
                </div>
              </div>
              <div class="star-div">
                <h6>french teacher</h6>
                <div class="hidden-xs hidden-sm">
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                  <i class="fa fa-star star-dark"></i>
                </div>
              </div>
              <div class="hidden-md hidden-lg">
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
                <i class="fa fa-star star-dark"></i>
              </div>
            </div>
          </div>



        </div>
        <div class="btn_greendiv">
          <button type="button" name="button" class="btn_green">Find me a Teacher</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="online-tutoring-section">
  <div class="container">
    <h1 class="align-center">benifits of live <span class="color-blue">online tutoring</span></h1>
    <div class="row display-switch"><!--for large screen-->
      <div class="col-md-4">
        <div class="center-align-elements">
          <span class="circle bg-red">
            <%= image_tag 'teaching.png', width:'70' %>
          </span>
          <h3>personalised live teaching</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="center-align-elements">
          <span class="circle bg-green">
            <%= image_tag 'learning.png', width:'70' %>
          </span>
          <h3>anytime anywhere learning</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="center-align-elements">
          <span class="circle bg-blue">
            <%= image_tag 'lecture.png', width:'70' %>
          </span>
          <h3>better than record lecture</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>
    </div>
    <div class="row display-switch">
      <div class="col-md-4">
        <div class="center-align-elements">
          <span class="circle bg-aqua-blue">
            <%= image_tag 'time.png', width:'70' %>
          </span>
          <h3>save on time</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="center-align-elements">
          <span class="circle bg-aqua-blue">
            <%= image_tag 'safety.png', width:'50' %>
          </span>
          <h3>safety</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="center-align-elements">
          <span class="circle bg-dark-green">
            <%= image_tag 'courses.png', width:'50' %>
          </span>
          <h3>variety of courses</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>
    </div>

    <!--for small screen-->
    <div class="row hide-large-screen">
      <div class="col-sm-6 col-xs-6">
        <div class="center-align-elements">
          <span class="circle bg-red">
            <%= image_tag 'teaching.png', width:'70' %>
          </span>
          <h3>personalised live teaching</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="center-align-elements">
          <span class="circle bg-green">
            <%= image_tag 'learning.png', width:'70' %>
          </span>
          <h3>anytime anywhere learning</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>
    </div>

    <div class="row hide-large-screen">
      <div class="col-sm-6 col-xs-6">
        <div class="center-align-elements">
          <span class="circle bg-aqua-blue">
            <%= image_tag 'time.png', width:'70' %>
          </span>
          <h3>save on time</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="center-align-elements">
          <span class="circle bg-blue">
            <%= image_tag 'lecture.png', width:'70' %>
          </span>
          <h3>better than record lecture</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>
    </div>
    <div class="row hide-large-screen">
      <div class="col-sm-6 col-xs-6">
        <div class="center-align-elements">
          <span class="circle bg-aqua-blue">
            <%= image_tag 'safety.png', width:'50' %>
          </span>
          <h3>safety</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="center-align-elements">
          <span class="circle bg-dark-green">
            <%= image_tag 'courses.png', width:'50' %>
          </span>
          <h3>variety of courses</h3>
          <ul>
            <li>Dedicated teacher, 100% personal attention</li>
            <li>better care of students</li>
          </ul>
          <a href="">read more</a>
        </div>
      </div>
    </div>

    <div class="center-align-elements">
      <button class="button">sign up and start learning</button>
    </div>
  </div>
</section>
<section class="wiki-lesson-work">
  <div class="container">
    <h2 class="heading-h2">how does <span class="word_color">wiki lesson</span> work</h2>

    <div class="row lesson-work-row">
      <div class="col-md-12 ">
        <div class="contain">
          <div class="details"></div>
          <div class="mydiv ">

            <div class="status orange-border">
              <%= image_tag '01-01.png', width:'20%' %>
              <div class="lesson-work-para">
                <h3>register process</h3>
                <p>you will be given a profile which will allow you to showcase your qualification and experience and to specify where and when you wish to teach.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row lesson-work-row">
      <div class="col-md-12 ">
        <div class="contain">

          <div class="nextdiv ">
            <div class="status green-border">
              <%= image_tag '02-01.png', width:'20%' %>
              <div class="lesson-work-para">
                <h3>register process</h3>
                <p>you will be given a profile which will allow you to showcase your qualification and experience and to specify where and when you wish to teach.</p>
              </div>
            </div>
          </div>
          <div class="details"></div>
        </div>
      </div>
    </div>
    <div class="row lesson-work-row">
      <div class="col-md-12 ">
        <div class="contain">
          <div class="details"></div>
          <div class="third-div">
            <div class="status blue-border">
              <%= image_tag '03-01.png', width:'20%' %>
              <div class="lesson-work-para">
                <h3>register process</h3>
                <p>you will be given a profile which will allow you to showcase your qualification and experience and to specify where and when you wish to teach.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row lesson-work-row ">
      <div class="col-md-12 ">
        <div class="contain">

          <div class="fourth-div">
            <div class="status orange-border">
              <%= image_tag '04-01.png', width:'20%' %>
              <div class="lesson-work-para">
                <h3>register process</h3>
                <p>you will be given a profile which will allow you to showcase your qualification and experience and to specify where and when you wish to teach.</p>
              </div>
            </div>
          </div>
          <div class="details"></div>
        </div>
      </div>
    </div>
  </div>
</section>
