<section class="teacher-hero-section bg-blue border-top-blue">
  <section class="trans-bg">
    <div class="info-main-container bg-white">
      <div class="trans-bg">
      <div class="complete-question">
        <div class="pencil-container margin-top20">
          <div class="triangle"></div>
          <h1 class="margin-top0">benifits of <span class="color-blue">live online tutoring</span></h1>
        </div>
      </div>

      <div class="complete-question">
        <div class="pencil-container margin-top20 margin-botom17">
          <div class="triangle"></div>
          <h2 class="traingle-sml-heading margin-top0">personalised education LIVE from the comfort of your home.</h2>
        </div>
        <div class="border margin-botom17">
          <div class=" grey-container">
            <div class="why-wiki-para-img">
              <div class="para-div position-relative">
                <p class="terms-conditions-para">
                  Wiki Lessons strength is its core focus on personalized LIVE online teaching. This ensure a students gets the entire
                  attention of a dedicated teaching two-way which is also monitored technologically for further improvement (if needed) ...
                </p>
                <span class="arrow-circle"><i class="fa fa-arrow-down down-arrow-btn" aria-hidden="true"></i></span>
              </div>
              <div class="why-wiki-img-container">
                <div class="why-wiki-img-div bg-why-1">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="complete-question margin-top20">
        <div class="pencil-container margin-top20  margin-botom17">
          <div class="triangle"></div>
          <h2 class="traingle-sml-heading margin-top0">better than recorded lectures</h2>
        </div>
        <div class="border margin-botom17">
          <div class=" grey-container">
            <div class="why-wiki-para-img">
              <div class="para-div position-relative">
                <p class="terms-conditions-para">
                  With Wiki lessons respectable experience in teaching and mentoring more than 10,000 students, we can safely claim that.
                  Especially in the K12 segment a child lacks not a recorded lecture nor the complete reliance on educational...
                </p>
                <span class="arrow-circle"><i class="fa fa-arrow-down down-arrow-btn" aria-hidden="true"></i></span>
              </div>
              <div class="why-wiki-img-container">
                <div class="why-wiki-img-div bg-why-2">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="complete-question margin-top20">
        <div class="pencil-container margin-top20 margin-botom17">
          <div class="triangle"></div>
          <h2 class="traingle-sml-heading margin-top0">time and energy saving, secured solution</h2>
        </div>
        <div class="border margin-botom17">
          <div class=" grey-container padding-top5">
            <div class="why-wiki-para-img">
              <div class="para-div position-relative">
                <p class="terms-conditions-para">
                  Increasingly security of children while commuting is at risk. Parents are not comfortable if young students need
                  to travel long hours and distances for a professional coaching Wiki Lessons offers a solution for this modern malady...
                </p>
                <span class="arrow-circle"><i class="fa fa-arrow-down down-arrow-btn" aria-hidden="true"></i></span>
              </div>
              <div class="why-wiki-img-container">
                <div class="why-wiki-img-div bg-why-3">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="complete-question margin-top20">
        <div class="pencil-container margin-top20">
          <div class="triangle"></div>
          <h2 class="traingle-sml-heading margin-top0">anywhere-anytime learning</h2>
        </div>
        <div class="border margin-botom17">
          <div class="grey-container">
            <div class="why-wiki-para-img">
              <div class="para-div position-relative">
                <p class="terms-conditions-para">
                  The conventional classroom method mandates that learning has to be limited to a place and const breaks the shackles of
                  time and place, liberating learning and teaching from the limits of time and location..
                </p>
                <span class="arrow-circle"><i class="fa fa-arrow-down down-arrow-btn" aria-hidden="true"></i></span>
              </div>
              <div class="why-wiki-img-container">
                <div class="why-wiki-img-div bg-why-4">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  </section>
</section>
