<section class="login-page border-top-blue padding-v-10">

  <section class="login-details-div">


    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal login-form-container login-form-div'}) do |f| %>
        <h1>Log in</h1>
        <%= render 'layouts/alerts' %>

        <div class="form-group login-flex">

          <label for="" class="col-sm-2 col-md-1">
            <span class="icon-wrapper">
                <i class="fa fa-user login-icon-div-white"></i>
            </span>
          </label>

          <div class="col-sm-10 col-md-11 input-flex">
            <label for="" class="login-label">username</label>
            <div class="input-div"> <%= f.text_field :login, autofocus: true %></div>
          </div>
        </div>

        <div class="form-group login-flex">
          <label for="" class="col-sm-2 col-md-1">
            <span class="icon-wrapper">
                <i class="fa fa-lock login-icon-div-trans"></i>
            </span>
          </label>
          <div class="col-sm-10 col-md-11 input-flex">
            <label for="" class="login-label">password</label>
            <div class="input-div"><%= f.password_field :password, autocomplete: "off" %></div>
          </div>
        </div>
        <div class="form-group login-flex">
          <div class="col-sm-offset-2 col-md-offset-1 col-sm-10 col-md-11 col-xs-offset-2 col-xs-10 input-flex">
            <div class="checkbox login-checkbox">
              <label class="checkbox-label login-p">

                <%= f.check_box :remember_me, :class => 'checkbox-custom' %>
                <div class="checkbox-custom-label"></div>
                <span class="checkbox-text">
                  <%= f.label :remember_me, :class => 'checkbox-label-text' %>
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email-id" class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11 login-btn-div">

            <%= f.submit "Log in", :class => 'login-btn' %>
          </label>
        </div>
        <div class="forget-link-container">
          <%- if devise_mapping.recoverable? %>
              <%= link_to "forgot  password?", new_password_path(resource_name), :class => 'forget-link' %>
          <% end -%>

          <span class="signup-link">
            If not registered

            <%- if devise_mapping.registerable? %>
            <%= link_to "Sign up", new_registration_path(resource_name), :class => 'font-blue' %><br />
          <% end -%>
          </span>
        </div>
     <% end %>
    </section>
</section>
