<div class="payment-section">
  <div class="payment-body">
    <h2 class="setting-heading-h2">make <span class="word_color">payment:</span></h2>
    <h3 class="setting-heading-h2">payment <span class="word_color"><%=  %></span> to mr aditya yadav</h3>
    <table>

      <tr class="top-tr">
        <td class="left-td">Class Dates</td>
        <td class="right-td">30th Novembr 2016 at 2.pm</td>
      </tr>
      <tr class="blank-tr">
        <td ></td>
        <td ></td>
      </tr>

      <tr class="top-tr">
        <td class="left-td">No of hours</td>
        <td class="right-td">2hrs</td>
      </tr>


    </table>

    <div class="pay-now-div">
      <%= link_to 'Add Card', new_profile_card_path(profile_id: current_user.profile.id) %>
      <%= link_to 'Pay Now', confirm_profile_appointment_payment_path(appointment_id: @payment.appointment_id, profile_id: current_user.id, id: @payment.id), method: :post, confirm: 'Are you sure?' %>
    </div>
    <div class="terms-condition-div">
      <h4 class="setting-heading-h2">terms and condition</h4>
      <span class="h4-underline"></span>
      <p>If for any reason you have difficulty using this system(cannot remember the details you use upon reason)please</p>
      <p><span class="word_color payment-p">contact our support service</span> we will help yo retrieve details</p>

    </div>

  </div>
</div>