

<div class="container card-section">


 <div class="well card-well">
   <div id="card-container"></div>

   <form action="#" class="form" id="stripe-form">
     <div id="error"></div>
     <div class="form-group">
       <label for="number">Card Number</label>
       <input type="text" placeholder="CC Number" class="form-control" data-stripe="number" name="number">
     </div>
     <div class="form-group">
       <label for="name">Name On Card</label>

       <input type="text" placeholder="Name" class="form-control" data-stripe="name" name="name">
     </div>
     <div class="form-group">
       <label for="exp-month">Expiry Month</label>

       <input type="number" placeholder="Exp Month" class="form-control" data-stripe="exp_month" id="exp-month">
     </div>
     <div class="form-group">
       <label for="exp-year">Expiry Year</label>

       <input type="number" placeholder="Exp Year" class="form-control" data-stripe="exp_year" id="exp-year">
     </div>
     <div class="form-group">
       <label for="cvc">CVV/CVC number</label>

       <input type="number" placeholder="CVC" class="form-control" data-stripe="cvc" name="cvc">
     </div>

     <input type="submit" value="Create Card" class="submit btn btn-default">
   </form>

   <%= form_for '', url: profile_cards_path, html: {id: 'real-stripe-form'} do |f| %>
   <% end %>
 </div>


</div>