<template id="booking-template">
  <div class="booking-root">

    <div class="show-user" v-show="showuser">

      <div class="on-booked" v-show="class_booked && completed != 2">
        <p class="text-info" v-show="!class_valid">Request Sent. Awating confirmation. <br>Class on {{appointment_date}}</p>

        <p class="text-danger" v-show="class_valid && !payment">Class Booked. Payment Pending. Class on {{appointment_date}}</p>

        <p class="text-success" v-show="class_valid && payment">Class Booked. Class on {{appointment_date}}</p>
      </div>


      <button @click="show_modal = true" v-show="!class_booked || completed == 2" class="btn-green2">Book class</button>

    </div>
    <transition name="modal">
      <div class="modal-mask" v-show="show_modal">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="custom-modal-header">
              <button class="close-button" @click="show_modal = false">x</button>
              <h2>Book a class with {{username}}</h2>
            </div>

            <div class="modal-body">

              <form @submit.prevent="submitAppointment">
                <div class="form-group">
                  <label for="datetimepicker">Select date and time:</label>
                  <input id="datetimepicker" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="toptoteach">Topic</label>
                  <input type="text" placeholder="Topic to teach" id="topictoteach" class="form-control" v-model="topic">
                </div>
                <div class="form-group">
                  <label for="numberOfHours">Number of Hours</label>
                  <input type="number" placeholder="Number of hours" id="numberOfHours" class="form-control" v-model="class_hours">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" v-model="description" id="" cols="30" rows="10" placeholder="A short description of whay upu want to learn?"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
              </form>


            </div>

          </div>
        </div>
      </div>
    </transition>
  </div>
</template>