/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require home
 *= require profileview
 *= require jquery.datetimepicker
 *= require dashboard_index
 *= require vue_booking
 *= require bootstrap-tagsinput
 *= require payment
 *= require book_class
 *= require messages
 *= require jquery.rateyo.min
 *= require_self
 */


.container.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-well{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}