
.my-teacher-hero-section .green-bg {
    background-color: #48c848;
}
.my-teacher-hero-section .offline-circle {
    border: 2px solid #737373;
}
.my-teacher-hero-section h1, .my-teacher-hero-section h2, .my-teacher-hero-section h3 {
    margin: 0;
}
.my-teacher-hero-section input[type="range"] {
    background: transparent none repeat scroll 0 0;
}
.my-teacher-hero-section input[type="range"]:focus {
    outline: medium none;
}
.my-teacher-hero-section ul {
    list-style: outside none none;
    padding-left: 0;
    padding-top: 20px;
}
.my-teacher-hero-section ul li {
    color: #737373;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.my-teacher-hero-section ul li input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.my-teacher-hero-section ul li label {
    cursor: pointer;
    display: block;
    font-size: 19px;
    font-weight: 300;
    padding: 5px 0 0 45px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.25s linear 0s;
    z-index: 9;
}
@media (max-width: 599px) {
    .my-teacher-hero-section ul li label {
        font-size: 15px;
        padding: 5px 0 0 35px;
    }
}
.my-teacher-hero-section ul li .check {
    border: 1px solid #737373;
    border-radius: 100%;
    display: block;
    height: 25px;
    left: 0;
    position: absolute;
    top: 5px;
    transition: border 0.25s linear 0s;
    width: 25px;
    z-index: 5;
}
@media (max-width: 599px) {
    .my-teacher-hero-section ul li .check {
        height: 20px;
        left: 0;
        top: 5px;
        width: 20px;
    }
}
.my-teacher-hero-section ul li .check::before {
    border-radius: 100%;
    content: "";
    display: block;
    height: 13px;
    left: 5px;
    margin: auto;
    position: absolute;
    top: 5px;
    transition: background 0.25s linear 0s;
    width: 13px;
}
@media (max-width: 599px) {
    .my-teacher-hero-section ul li .check::before {
        height: 12px;
        left: 3px;
        top: 3px;
        width: 12px;
    }
}
.my-teacher-hero-section input[type="radio"]:checked ~ .check {
    border: 1px solid #fb0000;
}
.my-teacher-hero-section input[type="radio"]:checked ~ .check::before {
    background: #fb0000 none repeat scroll 0 0;
}
.my-teacher-hero-section .texture-div {
    background-color: #d5efff;
    border-bottom: 2px solid #379ed4;
    border-top: 2px solid #379ed4;
    padding: 25px 35px;
}
.my-teacher-hero-section .texture-div h1 {
    margin-bottom: 30px;
    text-transform: capitalize;
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div h1 {
        font-size: 25px;
    }
}
.my-teacher-hero-section .texture-div .buttons-div {
    -moz-box-pack: center;
    background-color: #bebebe;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    padding: 10px;
}
.my-teacher-hero-section .texture-div .buttons-div select {
    background-color: #fff;
    border: 1px solid #737373;
    color: #737373;
    font-size: 20px;
    height: 50px;
    margin-right: 7px;
    padding: 10px 25px;
    text-transform: uppercase;
}
@media (max-width: 867px) {
    .my-teacher-hero-section .texture-div .buttons-div select {
        margin-bottom: 10px;
    }
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .buttons-div select {
        font-size: 13px;
        padding: 5px 15px;
        width: 200px;
    }
}
.my-teacher-hero-section .texture-div .buttons-div select:focus {
    outline: medium none;
}
.my-teacher-hero-section .texture-div .buttons-div .btn-container {
    background-color: #fff;
    border: 1px solid #737373;
    color: #737373;
    height: 50px;
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .buttons-div .btn-container {
        width: 200px;
    }
}
.my-teacher-hero-section .texture-div .buttons-div .btn-container .fa {
    margin: 7px;
}
.my-teacher-hero-section .texture-div .buttons-div .btn-container input[type="search"] {
    border: 0 none;
    padding: 10px 25px;
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .buttons-div .btn-container input[type="search"] {
        padding: 5px 15px;
        width: 150px;
    }
}
.my-teacher-hero-section .texture-div .buttons-div .btn-container input[type="search"]:focus {
    outline: medium none;
}
@media (max-width: 599px) {
}
.my-teacher-hero-section .texture-div .my-teacher-body {
    background-color: #fff;
    margin: 30px 0;
    padding: 40px;
}
@media (min-width: 301px) and (max-width: 500px) {
    .my-teacher-hero-section .texture-div .my-teacher-body {
        padding: 20px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .row .range-div {
    margin-bottom: 30px;
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .row .range-div {
        margin-bottom: 0;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .row .range-div h2 {
    font-size: 23px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .row .range-div h2 {
        font-size: 18px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .row form {
    clear: both;
    color: #737373;
    font-size: 20px;
    margin: 25px 0;
    padding: 50px 0;
    text-transform: uppercase;
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .row form {
        font-size: 16px;
        margin: 5px 0;
        padding: 30px 0;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side {
    border-left: 1px solid #737373;
}
@media (max-width: 991px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side {
        border-left: medium none;
        border-top: 1px solid #737373;
        margin-top: 30px;
        padding-top: 20px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div {
    border: 2px solid #379ed4;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 25px;
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .row {
    -moz-box-pack: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .status-div {
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    font-size: 19px;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}
@media (max-width: 991px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .status-div {
        font-size: 17px;
    }
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .status-div {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .status-div .online-circle {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}
@media (max-width: 991px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .status-div .online-circle {
        height: 17px;
        width: 17px;
    }
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .status-div .online-circle {
        height: 15px;
        width: 15px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .name {
    margin-bottom: 30px;
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div h3 {
    color: #737373;
    font-size: 21px;
    text-transform: uppercase;
}
@media (max-width: 991px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div h3 {
        font-size: 19px;
    }
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div h3 {
        font-size: 17px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div h4 {
    color: #737373;
    margin-bottom: 20px;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div h4 {
        font-size: 18px;
    }
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div h4 {
        font-size: 16px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .view-profile-link {
    color: #737373;
    font-size: 17px;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .view-profile-link {
        font-size: 15px;
    }
}
@media (max-width: 599px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .view-profile-link {
        font-size: 13px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .view-profile-link:hover {
    color: #379ed4;
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div img {
    border-radius: 100%;
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .trial-session-div {
    -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0;
}
@media (min-width: 301px) and (max-width: 500px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .trial-session-div {
        padding: 10px 0;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .trial-session-div a {
    border: 2px solid #379ed4;
    border-radius: 10px;
    color: #737373;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 180px;
}
@media (max-width: 867px) {
    .my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .trial-session-div a {
        font-size: 15px;
        padding: 6px 12px;
    }
}
.my-teacher-hero-section .texture-div .my-teacher-body .teacher-profile-side .teacher-div .trial-session-div a:hover {
    background-color: #379ed4;
    color: #fff;
}
