@import "variable.css.scss";

/*******student-profile-section*********/
.student-profile-section{
  background-color:$light_green;
  padding: 3% 8%;
  .student-row1{
    margin-bottom: 10%;
  }
  h3{
    margin: 0;
    padding-bottom: 2%;
  }
  h1{
    text-transform: uppercase;

    @media #{$max0_992}{
      font-size: 25px;
    }

  }
  .student-profile-white-div{
    background-color: $dark-white;
    padding:7% 10%;
    @media #{$max0_992}{
      padding: 7% 1%;
    }
    .personal-description-div{
      margin-top: 6%;

      .personal-description-border{
        border: 2px solid $border_col;
        background-color: $white;
        padding: 0 30px ;
        // padding-top: 3%;
        border-radius: 5px;
        // margin-top: 20px;
        @media #{$max0_992}{
          padding: 10px;
        }
        p{
          margin: 0;
          line-height: 2em;
          color: $dark_p;
          font-weight: lighter;
          font-size: 20px;
          @media #{$max0_992}{
            font-size: 12px;
          }

        }

        .student-table{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;

          .table-img-flex{
            width: 7%;
            img{
              width: 60px;
              border-radius: 100%;
              margin-top: 80%;
              @media #{$max992}{
                width: 40px;
              }
              @media #{$max}{
                display: none;
              }
              @media #{$max500-301}{
                display: none;
              }
              @media #{$max768-501}{
                display: none;
              }
            }
          }
          }

        table{
          text-align: center;

          font-size: 20px;
          @media #{$max300-0}{
            font-size: 12px;
          }
          @media #{$max500-301}{
            font-size: 12px;
          }
          @media #{$max768-501}{
            font-size: 12px;
          }
          @media #{$max992}{
            font-size: 12px;
          }
          .tr-color{
            background-color: $dark_green;

          }
          td{
            color: $heading_h;
            @media #{$max0_992}{
              font-size: 12px;
            }
          }

          th{
            text-transform: capitalize;
              text-align: center;
              margin-bottom: 50px;
          }
          .boder-right-table{
            border-right: 1px solid $border_col;
          }

        }
        .student-btn{
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
          .student-blue-btn{
            display: block;
            width: 150px;
            background-color: $blue;
            text-transform: uppercase;
            padding: 5px 0;
            text-align: center;
            border-radius: 3px;
            margin-left: 10px;
            a{
              color: $white;
              text-decoration: none;
            }
          }
        }
        .view-all-btn{
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
          margin-bottom: 20px;
          .btn-view{
            display: block;
            width: 160px;
            background-color: $white;
            padding: 8px 0;
            text-align: center;
            border-radius: 10px;
            box-shadow: 2px 2px 2px $border_col;
            border: 2px solid $blue;
            a{
              color: $heading_h;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }


      }
    }
  }
}
.blank-tr{
  width: 100%;
  height: 30px;
}
.blank-th-tr{
  width: 100%;
  height: 20px;
}
.data-margin{
  display: flex;
  flex-direction: column;
}
.td-bg-white{
  background-color: $white;
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.td-flex{
  display: flex;
  flex-direction: column;
}
.size-of-no{
  font-size: 30px;
  @media #{$max0_992}{
    font-size: 12px;
  }
}
.margin-data-padding{
  padding: 15px 0;
}
.tr-color2{
  background-color: $light-blue;
}
.student-users-section{
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;
  // flex-wrap: wrap;

  .icon-pencil-user{
    visibility: hidden;

    position: absolute;
    bottom: 12px;
    right: 14px;
    padding: 10px;
    background-color:$dark_grey;
    border-radius: 100%;
    color: $white;
    border: 2px solid $white;
  }
  .user-pic:hover{
    .icon-pencil-user{
      visibility: visible;
    }
  }

  .user-pic{
    // margin-right: 7%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid $border_col;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .fa-user{
      font-size: 170px;
      color: $btn_green;

    }
    .fa-user:hover{
      .icon-pencil-user{
        visibility: visible;
      }
    }

    @media #{$max300-0}{
      margin: 0 auto;
    }
    @media #{$max500-301}{
      margin: 0 auto;
    }
    @media #{$max768max768-501}{
      margin: 0 auto;
    }
  }

  .user-student-info{
    margin-left: 10%;
    h3{
      margin: 0;
      text-transform: uppercase;

      .student-name{
        font-weight: bold;
      }
      @media #{$max0_992}{
        font-size: 20px;
      }
      @media #{$max300-0}{
      text-align: center;
      margin-top: 15px;
      }
      @media #{$max500-301}{
      text-align: center;
      margin-top: 15px;
      }
      @media #{$max768-501}{
        text-align: center;
        margin-top: 15px;
      }
    }
    h3:hover{
      .icon-pencil{
        visibility: visible;
      }
    }
    h5{
      text-transform: uppercase;
      font-weight: bold;
      @media #{$max300-0}{
      text-align: center;
      }
      @media #{$max500-301}{
      text-align: center;
      }
      @media #{$max768-501}{
        text-align: center;
      }
    }
    h5:hover{
      .icon-pencil{
        visibility: visible;
      }
    }
    p{
      font-weight: bold;
      color: $dark_p;
      @media #{$max300-0}{
      text-align: center;
      }
      @media #{$max500-301}{
      text-align: center;
      }
      @media #{$max768-501}{
        text-align: center;
      }
    }
    p:hover{
      .icon-pencil{
        visibility: visible;
      }
    }
  }
  .no-n-varified{
    display: flex;
    justify-content: flex-start;
    @media #{$max300-0}{
    justify-content: center;
    }
    @media #{$max500-301}{
    justify-content: center;
    }
    @media #{$max768-501}{
      justify-content: center;
    }

  }
.input_fields_wrap{
  .add_field_button{
    margin-top: 7px;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 4px;
    border-radius: 7px;
    background-color:$white;
    border: 2px solid $border_col;
    @media #{$max300-0}{
    margin: 0 auto;
    }
    @media #{$max500-301}{
    margin: 0 auto;
    }
    @media #{$max768-501}{
      margin: 0 auto;
    }

  }
  input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color:$white;
    border: 2px solid $border_col;
    display: block;


  }
  input:focus{
    outline: none;
  }
  .add-more-plus{
    width: 20px;
    height: 20px;
    border-radius:100%;
    border:1px solid $grey;
    display: block;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa{
      font-weight: lighter;
      color: $dark_p;
    }

  }
}
.edit-profile{
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  @media #{$max300-0}{
  justify-content: center;
  }
  @media #{$max500-301}{
  justify-content: center;
  }
  @media #{$max768-501}{
    justify-content: center;
  }
  a{
    text-transform: capitalize;
    padding: 8px 30px;
    border-radius: 10px;
    background-color:$white;
    border: 2px solid $border_col;
    margin-right: 10px;
    text-decoration: none;
    color: $heading_h;
    @media #{$max300-0}{
      padding: 8px 15px;
    }
    @media #{$max500-301}{
      padding: 8px 15px;
    }
  }
}

}

.upcomming-classes-table{
  @media #{$max300-0}{
    display: none;
  }
  @media #{$max500-301}{
    display: none;
  }
  @media #{$max768-501}{
    display: none;
  }
}
.teacher-img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  @media #{$max300-0}{
    width: 50px;
    height: 50px;
  }
  @media #{$max500-301}{
    width: 50px;
    height: 50px;
    }
}
.teacher-name{
  background-color: $dark_green;
  display: flex;
  justify-content:flex-start;
  padding: 0 10px;
  margin-bottom: 10px;
  p{
    margin: 0;
    font-size: 12px !important;
    @media #{$max300-0}{
      font-size: 10px !important;
    }
    @media #{$max500-301}{
      font-size: 10px !important;
    }
  }
  .teacher-p{
    color: $blue !important;
    width: 40%;
  }
  .color-date{
    color: $blue !important;
  }
}
.ph-no-add{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin-top: 10px;

  @media #{$max300-0}{
  margin:0  auto;
  padding-top: 10px;
  }
  @media #{$max500-301}{
  margin: 0 auto;
  padding-top: 10px;
  }
  @media #{$max768-501}{
    padding-top: 10px;
    margin: 0 auto;
  }

  .fa{
    margin-left: 10px;
  }


}
