@import "variable.css.scss";
.contact-us-heading
{
  color: $grey-font;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
  margin-top: 5%;
  @media #{$max768-501}
  {
    font-size: 22px;
  }
  @media #{$max500-301}
  {
    font-size: 19px;
  }
  @media #{$max300-0}
  {
    font-size: 16px;
  }
}
.contact-us-para-div
{
  padding: 10px 25px;
  margin: 25px 0;
}
  .contact-us-para
  {
    color: $grey-font;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 1px;
    @media #{$max500-301}
    {
      font-size: 13px;
    }
    @media #{$max300-0}
    {
      font-size: 11px;
    }
  }
.contact-us-text-area
{
  border: 1px solid #F4F4F7;
  border-radius: 5px;
  width: 100%;
  padding: 7px 5px;
}
.contact-us-text-area:focus
{
  outline: none;
}
.contact-us-address
{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.contact-map-wrapper
{
   position:relative;
   border-top: 5px solid $grey-font;
   margin-bottom: 5px;
   #contact-map
   {
     height:300px;
   }
   .floating-address
   {
     color: $white;
     background-color:rgba(0,0,0,.7);
     position:absolute;
     right:30px;
     top:25px;
     border-radius: 5px;
     padding: 10px;
     h1
     {
       text-transform: uppercase;
       font-weight: bold;
       font-size: 27px;
       margin-top: 5px;
       @media #{$max768-501}
       {
         font-size: 22px;
       }
       @media #{$max500-301}
       {
         font-size: 17px;
         margin-bottom: 2px;
       }
       @media #{$max300-0}
       {
         font-size: 14px;
         margin-bottom: 2px;
       }
     }
     address
     {
       line-height: 2em;
       font-size: 15px;
       @media #{$max768-501}
       {
         font-size: 13px;
         margin-bottom: 0;
       }
       @media #{$max500-301}
       {
         font-size: 11px;
         margin-bottom: 0;
       }
       @media #{$max300-0}
       {
         font-size: 9px;
         margin-bottom: 0;
       }
     }
   }
}
.contact-send-button
{
  background-color: $white;
  color: $grey-font;
  border-radius: 10px;
  border: 2px solid $blue;
  padding: 7px 20px;
  box-shadow: 3px 5px 7px $grey-font;
  margin-bottom: 30px;
}
