@import "variable.css.scss";
.herosection
{
  background-image: url('../images/home2-bg.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .texture-div-container
  {
    padding: 20px 15px;
    margin: 10% 20%;
    width: 100%;
    .texture
    {
      background-image: url('../images/texture.png');
      background-position: center;
      background-size: cover;
      padding: 7%;
      .texture-div-info
      {
        text-align: center;
        h1
        {
          text-transform: capitalize;
          padding-bottom: 3%;
          font-size: 33px;
          @media #{$max850}
          {
            font-size:25px;
          }
        }
        .first-two-btn
        {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .just-button
          {
            border: 2px solid $blue;
            text-transform: capitalize;
            background-color: $white;
            padding: 10px 0;
            font-size: 17px;
            border-radius: 3px;
            margin-right: 15px;
            margin-left: 15px;
            margin-top: 15px;
            width: 182px;
            text-decoration: none;
            color: $grey;
          }
          .few-button
          {
            border: 2px solid $blue;
            text-transform: capitalize;
            background-color: $white;
            padding: 10px 0;
            font-size: 17px;
            border-radius: 3px;
            margin-top: 15px;
            width: 182px;
            text-decoration: none;
            color: $grey;
          }
        }
        .second-two-btn
        {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 7px;
          .regular-button
          {
            border: 2px solid $blue;
            text-transform: capitalize;
            background-color: $white;
            padding: 10px 0;
            font-size: 17px;
            border-radius: 3px;
            margin-right: 15px;
            margin-left: 15px;
            margin-top: 10px;
            width: 182px;
            text-decoration: none;
            color: $grey;

          }
          .ntsure-button
          {
            border: 2px solid $blue;
            text-transform: capitalize;
            background-color: $white;
            padding: 10px 0;
            font-size: 17px;
            border-radius: 3px;
            margin-top: 10px;
            width: 182px;
            text-decoration: none;
            color: $grey;
          }
        }

      }
      .back-next-ul
      {
        list-style: none;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
        padding-top: 7%;
        li
        {

          a
          {
            text-decoration: none;
            margin-right: 15px;
            text-transform: capitalize;
            font-size: 17px;
            color: $grey;
            background-color: transparent;
            padding: 4px 9px;
            border-radius: 4px;
            @media #{$max516}
            {
              font-size: 14px;
            }
          }

        }
      }
    }
  }

}
.display-switch
{
  @media #{$max991}
  {
    display: none;
  }
}
.hide-large-screen
{
  @media #{$min991}
  {
    display: none;
  }
  @media #{$max500}
  {
    display: none;
  }
}
.online-tutoring-section
{
  margin: 5% 0;
  h1
  {
    text-transform: uppercase;
    font-weight: bold;
    color: $grey;
    @media #{$max850}
    {
      font-size:28px;
    }
    @media #{$max516}
    {
      font-size: 22px;
    }
  }
  .row
  {
    margin-top: 8%;
    h3
    {
      text-transform: uppercase;
      text-align: center;
      color: $blue;
      font-size: 23px;
      line-height: 1.5em;
      @media #{$max516}
      {
        font-size: 18px;
      }
    }
    ul{

      li
      {
        color: $grey;
        font-size: 15px;
        letter-spacing: .5px;
        line-height: 1.3em;
        text-transform: capitalize;
      }
    }
    a
    {
      color: $orange;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
  .button
  {
    border: 2px solid $blue;
    border-radius: 7px;
    text-transform: uppercase;
    color: $grey;
    background-color: transparent;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: .7px;
    margin-top: 6%;
    text-decoration: none;
    @media #{$max516}
    {
      font-size: 14px;
    }
  }
  .button:hover{
    color: $white;
    background-color: $blue;
    transition: all .5s ease-in-out;
  }
  button:focus
  {
    outline: none;
  }
}
.border-blue
{
  border: 3px solid $blue;
}
.color-blue
{
  color: $blue;
}
.circle
{
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  line-height: 120px;
  text-align: center;
}
.bg-blue
{
  background-color: $blue;
}
.bg-red
{
  background-color: $red;
}
.bg-green
{
  background-color: $lemon-green;
}
.bg-aqua-blue
{
  background-color: $aqua-blue;
}
.bg-dark-green
{
  background-color: $dark-green;
}
.align-center
{
  text-align: center;
}
.center-align-elements
{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media #{$max516}
  {
    margin-bottom: 20px;
  }
}
