@import "variable.css.scss";
.select-need-hidden{
  @media #{$max768-501}{
    display: none;
  }
}
.select-need-hidden500{
  @media #{$max300-0}{
    display: none;
  }
  @media #{$max500-301}{
    display: none;
  }
}

.need-discussion-row{
  padding: 0 30px;
  @media #{$max768-501}{
    padding: 0 0;
  }
  @media #{$max992}{
    padding: 0 0;
  }
}
.need-discuss-div{
  margin-top: 15%;
  border: 1px solid $white;
  box-shadow: 2px 0px 5px 3px rgba(58, 57, 57, .3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  height:510px;
  position: relative;
  img{
    position: absolute;
    top: 5%;
    width: 30%;
  }
  h4{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top:30%;
    color: $heading_h;
    @media #{$max0_992}{
      font-size: 20px;
    }
  }
  p{
    font-size: 18px;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: 45%;
    padding: 0 15px;
    color: $light_grey;

    @media #{$max768-501}{
      font-size: 15px !important;
    }
    @media #{$max992}{
      font-size: 15px !important;
    }
    @media #{$max1200}{
      font-size: 15px !important;
    }
  }
}


body{
  overflow-x: hidden;
}

.all-row-margin{
  margin: 20px;
}
.heading-h2{
  text-transform: uppercase;
  color: $heading_h;
  font-weight: bold;
  text-align: center;
  @media #{$max300-0}{
    font-size: 10px;
  }
  @media #{$max500-301}{
    font-size: 15px;
  }
}
.word_color{
  color: $blue;
}
.style-p{
  text-align: center;
  text-transform: uppercase;
  color: $light_grey;
  @media #{$max300-0}{
    font-size: 8px;
  }
  @media #{$max500-301}{
    font-size: 10px;
  }
}
.btn_greendiv{
  display: flex;
  justify-content: center;
  .btn_green{
    background-color: $btn_green;
    padding: 8px 14px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: $white;
    @media #{$max300-0}{
      font-size: 10px;
      padding: 6px 10px;
    }
    @media #{$max500-301}{
      font-size: 15px;
      padding: 6px 10px;
    }
  }
}
.shadow-btn{
  background-color: $white;
  padding: 5px 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px $light_grey;
  border: 2px solid $blue;
  color: $heading_h;
}
.shadow-btn:focus{
  outline: none;
}
.wiki-form-section{
  background-image: asset-url('1-01.png');
  background-position: center;
  background-size: cover;
  color: $white;
  padding-bottom: 8%;
  .home-h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 7%;
    padding-bottom: 2%;
    @media #{$max300-0}{
      font-size: 10px;
    }
    @media #{$max500-301}{
      font-size: 15px;
    }
    @media #{$max768-501}{
      font-size: 20px;
    }
  }

  ::-webkit-input-placeholder{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 2em;
    @media #{$max300-0}{
      font-size: 10px;
    }
    @media #{$max500-301}{
      font-size: 10px;
    }
    @media #{$max768-501}{
      font-size: 15px;
    }
    @media #{$max992}{
      font-size: 15px;
    }
  }
  select{
    height: 40px;
    border-radius: 0;
    text-transform: capitalize;
    color: $place_color;
    font-size: 20px;
    @media #{$max300-0}{
      font-size: 10px;
      height: 30px;
    }
    @media #{$max500-301}{
      font-size: 10px;
      height: 30px;
    }
    @media #{$max768-501}{
      font-size: 15px;
    }
    @media #{$max992}{
      font-size: 15px;
    }
  }
  .select-row{
    margin-top: 5%;
  }
  button{
    margin-top: 7%;
  }

}


/* popular section*/
.popular-course-section{
  text-align: center;
  padding-top: 4%;

  .circle-green-border{
    width: 97px;
    height: 97px;
    border-radius: 100%;
    border: 2px solid $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25%;
    @media #{$max300-0}{
      height: 87px;
      width: 87px;
    }
    @media #{$max500-301}{
      height: 87px;
      width: 87px;
      }
    .circle-green{
      width: 90px;
      height: 90px;
      border-radius: 100%;
      border: 1px solid $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      @media #{$max300-0}{
        height: 80px;
        width: 80px;
      }
      @media #{$max500-301}{
        height: 80px;
        width: 80px;
        }

    }

  }
  .arrow-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    img{
      text-align: center;

      margin-left: 5px;
      @media #{$max300-0}{
        margin-top: 0;
      }
      @media #{$max500-301}{
        margin-top: 0;
        }
    }
  }
  h6{
    text-transform: uppercase;
    color: $heading_h;
    font-weight: bold;
    margin: 0;
    @media #{$max300-0}{
      font-size: 8px;
    }
    @media #{$max500-301}{
      font-size: 10px;
      }
  }
  button{
    margin: 5% 0;
  }

}

/*select-teacher-section**/
.select-teacher-section{
  text-align: center;
  .teacher-selection-div{
    background-image: asset-url('2-011.png');
    background-position: center;
    background-size: cover;
    .img-opcity{
      background-color: rgba(52, 55, 60, .6);
      padding-bottom: 5%;

      .img-thumbnail{
        padding:0 25px ;
        padding-top: 25px;
        padding-bottom: 10px;
        margin: 15% 0;

        .star-div{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;
          h6{
            text-transform: capitalize;
            margin-right: 5px;


          }

          }


          .star-dark{
            color: $dark_yelow;

          }

        }
        .teacher-pic{
          position: relative;
          transition: all 5s ease-in-out;
        }

        .light-blackdiv{
          width: 100%;
          height: 50px;
          background-color: rgba(0, 0, 76, .1);
          bottom: 0;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          padding: 5px;
          visibility: hidden;
          @media #{$max300-0}{
            height: 20px;
          }
          @media #{$max500-301}{
            height: 30px;
          }
          h3{
            color: $blue;
            text-transform: uppercase;
            font-size: 20px;
            // line-height: 50px;
            margin: 0;
            @media #{$max300-0}{
              font-size: 10px;
            }
            @media #{$max500-301}{
              font-size: 15px;
            }

          }
        }
      }
      .img-thumbnail:hover{
        transition: all 2s ease-in-out;
        .light-blackdiv{
          visibility: visible;

        }
      }
    }

}
/*wiki-lesson-work*/
.wiki-lesson-work{
  margin-bottom: 7%;
  .lesson-work-row{
    margin: 0 20px;
    margin-top: 110px;
    @media #{$max300-0}{
      margin-left:0;
      margin-right: 0;
    }
    @media #{$max500-301}{
      margin-left: 0;
      margin-right: 0;
    }
  }
  .contain{
    display: flex;
    justify-content: center;
    // height: 600px;
    align-items: center;
    .details{
      flex-grow: 2;
    }
    .mydiv{
      flex-grow: 2.5;
      background-image: asset-url('6-01.png');
      background-size: cover;
      background-position: center;
      height: 300px;
      position: relative;
      display: flex;
      .status{
        position: absolute;
        top:-20%;
        right: 80%;
        width: 100%;
        height: 300px;
        background-color: $dark_white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px;
        padding-top: 20px;
        @media #{$max300-0}{
          padding: 0;
        }
        @media #{$max500-301}{
          padding: 0;
        }

      }

    }

  }

  .nextdiv{
    flex-grow: 2.5;
    background-image: asset-url('7-01.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    .status{
      position: absolute;
      top:-20%;
      left: 80%;
      width: 100%;
      height: 300px;
      background-color: $dark_white;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 20px;
      padding-top: 20px;
      @media #{$max300-0}{
        padding: 0;
      }
      @media #{$max500-301}{
        padding: 0;
      }

    }

  }
  .third-div{
    flex-grow: 2.5;
    background-image: asset-url('7-01.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    .status{
      position: absolute;
      top:-20%;
      right: 80%;
      width: 100%;
      height: 300px;
      background-color: $dark_white;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 20px;
      padding-top: 20px;
      @media #{$max300-0}{
        padding: 0;
      }
      @media #{$max500-301}{
        padding: 0;
      }


    }

  }
  .fourth-div{
      flex-grow: 2.5;
      background-image: asset-url('9-01.png');
      background-size: cover;
      background-position: center;
      height: 300px;
      position: relative;
      display: flex;
      .status{
        position: absolute;
        top:-20%;
        left: 80%;
        width: 100%;
        height: 300px;
        background-color: $dark_white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px;
        padding-top: 20px;
        @media #{$max300-0}{
          padding: 0;
        }
        @media #{$max500-301}{
          padding: 0;
        }

      }

    }
  .orange-border{
    border-bottom: 4px solid $border_orange;
  }
  .green-border{
    border-bottom: 4px solid $border_green;
  }
  .blue-border{
    border-bottom: 4px solid $border_blue;
  }

}
.lesson-work-para{
  padding-left: 38px;
  padding-right: 64px;
  padding-top:10px;
  padding-bottom: 20px;
  @media #{$max0_992}{
    padding: 0;
  }

  h3{
    text-transform: uppercase;
    color: $heading_h;
    @media #{$max0_992}{
      font-size: 15px;
    }
  }
  p{
    color: $grey_p;
    line-height: 2em;
    font-size: 18px;
    @media #{$max300-0}{
      font-size: 10px;
    }
    @media #{$max500-301}{
      font-size: 10px;
    }
    @media #{$max768-501}{
      font-size: 10px;
    }
    @media #{$max992}{
      font-size: 10px;
    }

  }

}
#orangediv{
  margin: 0;
  @media #{$max300-0}{
    margin-top: -5px;
    margin-left: 1px;

  }
  @media #{$max500-301}{
    margin-top: -5px;
    margin-left: 1px;

  }
}
.wiki-form-section2{
  background-image: asset-url('1-011.png');
  background-position: center;
  background-size: cover;
  color: $white;
  padding-bottom: 15%;
}
.subject-search-div{
  background-color: #F0F0F0;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:1px 1px 10px #F0F0F0;


  input{
    border-radius: 10px;
    background-color: $white;
    border: 0;
    width:90% !important;
    height: 50px;
    padding-left: 10px;
    color: $place_color;
    @media #{$max300-0}
    {
      height: 15px;
    }
    @media #{$max500-301}
    {
      height: 25px;
    }
    @media #{$max768-501}
    {
      height: 35px;
    }
    @media #{$max992}
    {
      height: 40px;
    }
  }

  .search-icon{
    background-color: $blue;
    width:10% !important;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
    color: $white;
    text-decoration: none;
    @media #{$max300-0}
    {
      height: 15px;
      font-size: 15px;
    }
    @media #{$max500-301}
    {
      height: 25px;
      font-size: 18px;

    }
    @media #{$max768-501}
    {
      height: 35px;
      font-size: 22px;

    }
    @media #{$max992}
    {
      height: 40px;
      font-size: 25px;

    }
  }

}
.hompage-search-div{
  width: 70%;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $li-a;;
  background-color:rgba(51, 153, 102, .3);
  border-radius: 10px;
  input:focus{
    outline: none;
  }
  .home-search-icon{
    height: 50px;
    background-color: $white;
    font-size: 30px;
    color: $li-a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    @media #{$max300-0}{
      height: 40px !important;
    }
    @media #{$max500-301}{
      height: 40px !important;
    }
  }

}
#fkbx-text {
    color: $place_color;
    bottom: 0;
    font-size: 20px;
    left: 9px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    text-align: initial;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    @media #{$max300-0}{
    font-size: 12px
    }
    @media #{$max500-301}{
    font-size: 15px
    }
    @media #{$max768-501}{
      font-size: 18px;
    }
}
#fkbx > input {
    background: transparent;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top:0;
    width: 100%;
    color: $heading_h !important;
}

#fkbx {
    background-color: $white;
    border: 1px solid $grey;
    cursor: text;
    display: inline-block;
    line-height: 50px;
    position: relative;
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     @media #{$max300-0}{
       height: 40px !important;
       line-height: 40px;

     }
     @media #{$max500-301}{
       height: 40px !important;
       line-height: 40px;

     }
}
input:focus{
  outline: none;
}
