@import "variable.css.scss";

$icon-font-path: '../fonts/';

// This is the code for the loading Gif. Though we should use something better than this actually.
img#loader-gif {
  display: block;
  margin: auto;
  width: 22px;
}


/*navbar section*/
.nav-user-icon{
  //border: 1px solid $btn_green;
  //border-radius: 100%;
  padding: 3px 5px;
  color: $btn_green;

}
.bell-icon{
  color: $btn_green;
  position: relative;
  span
  {
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    top: -11px;
    right: -6px;
    border-radius: 50%;
    background-color: $btn_green;
    color: $white;
    padding: 1px;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
  }
}
.navbar{
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.navbar-top{
  background-color:$navbar-bg;
  padding-top: 15px;
  padding-bottom: 10px;
  .navbar-brand{
    height: 0;
  }
  .navbar-header
  {
    display:inline-block;
    margin-top:5px;
  }
  .navbar-nav
  {
    float:right;
    display: flex;
    margin-top: 5px;
    margin-right:5px;
  }
  .navbar-lock{
    color: $white;
    font-size: 15px;
    margin-top: 3px;
  }
  a{
    color: $white;
    font-size: 18px;
    }
    .navbar-twitter
    {
      margin-left: 13px;
      margin-right: 13px;
    }
    .button{
      background-color: transparent;
      color: $white;
      border-radius: 5px;
      font-size: 10px;
      border: 1px solid $white;
      text-transform: uppercase;
      padding: 3px;
      padding-top: 4px;
      margin-left: 10px;
      text-decoration: none;
      text-align: center;
      width: 75px;
      @media #{$max500}
      {
        width: 60px;
        font-size: 8px;
      }
    }
}
.bottom-navbar{
  padding-top: 20px;
  .navbar-username
  {
   text-transform:capitalize;
   margin-left: 5px;
  }
  .navbar-nav{
    a{
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 30px;
      padding-left: 0;

      @media #{$max1200}{
        font-size: 15px;
      }
      @media #{$max992}{
        font-size: 13px;
      }
      @media #{$max768}{
        padding-left: 20px;
      }

    }
    .active{
      color: $a_border;
    }
    .a-border{

      width: 90%;
      height: 2px;
      background-color: $a_border;
      display: block;
      visibility: hidden;
      }
      li:hover
      {
      .a-border{
        visibility: visible;
      }

      }
  }


  img{
    margin-top: -27px;
    @media #{$max768-501}{
      margin-top: -36px;
    }
    @media #{$max500-301}{
      margin-top: -36px;
    }
    @media #{$max300-0}{
      margin-top: -36px;
    }
  }
}
.footer-div{
  // margin-top: 10% !important;
  background-color: $grey;
  padding:  4% 0;
  color: $white;
  @media #{$max300-0}{
    display: none;
  }
  @media #{$max500-301}{
    display: none;
  }

  ul{
    list-style: none;
    padding-left:  0;
    li{
      text-decoration: none;
      a{
        text-transform: capitalize;
        line-height: 2em;
        color: $white;
        text-decoration: none;
        @media #{$max500-301}{
          font-size: 9px;
          letter-spacing: 1px;
        }
      }

    }
  }
  .footer-mid-col{

  }
  .footer-rightcol{
    text-align: right;

    a{
      color: $white;
      text-decoration: none;

    }
    p{
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
    }
    .border-tumbler{
      padding: 6px 10px;
      border: 1px solid $white;
      border-radius: 100%;
    }
    .border-twitter{
      padding: 6px 7px;
      border: 1px solid $white;
      border-radius: 100%;
      margin-right: 20px;
    }
    .border-fb{
      margin-right: 20px;
    }
  }
  .footer-h4{
    text-transform: uppercase;
    color: $white;
    @media #{$max768-501}{
      font-size: 12px;
    }
  }
  .email-a{
    @media #{$max768-501}{
      font-size: 12px;
    }

}
  }

  .footer-hidden-div{
    // margin-top: 10% !important;
    background-color: $grey;
    padding:  4% 0;
    color: $white;
    @media #{$max768-501}{
      display: none;
    }
    .footer-a{
      font-size: 15px;
        @media #{$max300-0}{
          font-size:9px;
        }
        @media #{$max500-301}{
          font-size: 11px;
        }
    }

    ul{
      list-style: none;
      padding-left:  0;
      li{
        text-decoration: none;
        a{
          text-transform: capitalize;
          line-height: 2em;
          color: $white;
          text-decoration: none;
          @media #{$max500-301}{
            font-size: 15px;
            letter-spacing: 1px;
          }
        }

      }
    }
    .footer-mid-col{
      text-align: right;

    }
    .footer-rightcol{
      text-align: right;
      @media #{$max300-0}{
        text-align: center;
      }
      @media #{$max500-301}{
        text-align: center;
      }

      a{
        color: $white;
        text-decoration: none;
      }

      p{
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
      }
      .border-tumbler{
        padding: 6px 10px;
        border: 1px solid $white;
        border-radius: 100%;
      }
      .border-twitter{
        padding: 6px 7px;
        border: 1px solid $white;
        border-radius: 100%;
        margin-right: 20px;
      }
      .border-fb{
        margin-right: 20px;
      }
    }
    .footer-h4{
      text-transform: uppercase;
      color: $white;
      @media #{$max768-501}{
        font-size: 12px;
      }
    }
    .email-a{
      @media #{$max768-501}{
        font-size: 12px;
      }

  }
    }

.footer-section{

  background-color: $dark_grey;
  padding-top: 20px;
  padding-bottom: 15px;

  color: $white;
  .list-inline > li{
    @media #{$max300-0}{
      padding-left: 0;
      padding-right: 0;
    }
    @media #{$max500-301}{
      padding-left: 1px;
      padding-right: 0;
    }
    @media #{$max768-501}{
      padding-left: 0;
      padding-right: 0;
    }
  }
  a{
    color: $white;
    text-transform: uppercase;

    @media #{$max300-0}{
      font-size:7px;
    }

    @media #{$max500-301}{
      font-size:7px;
    }
    @media #{$max768-501}{
      font-size: 8px;
    }
  }
  .copyright{
    @media #{$max500-301}{
      display: none;
    }
    @media #{$max300-0}{
      display: none;
    }
  }
.left-ul{
  display: inline;
  @media #{$max300-0}{
  text-align: center;
  }
  @media #{$max500-301}{
    text-align: center;

  }
}
.right-ul{
  float: right;
}

}
.footer-previous-div{
  margin-bottom: 100px;
}

// global style----

.font-blue
{
  color: $blue;
}
.bg-light-grey
{
  background-color: $border-grey;
}
.color-red
{
  color:red;
}
button:focus
{
  outline: none;
}
.margin-top0
{
  margin-top: 0;
}
.margin-top20
{
  margin-top: 3%;
}

.dropdown-menu > li > a {
  display:block;
  padding-bottom: 0;
  margin-left: 10px;
  font-size: 12px;
  padding-bottom: 10px !important;
  color: $li-a;
  font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;

}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.white-triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-right:38px solid $white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  top:43%;
  left: -38px;
}
.footer-icon-div{
  display: flex;
  justify-content: flex-end;
  .footer-icon{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
}
