@import "variable.css.scss";

/*techer-profile-section********************************/
body{
  overflow-x: hidden;
}

.teacher-edit-section
{
  $light-green: #D5EFFF;
  $white: #fff;
  $bg-grey:#F4F4F7;
  $dark_grey:#464646;
  $font-grey: #7E7E7E;
  $blue:#379ED4;
  $max300-0:"(min-width:0) and (max-width:300px)";
  $max500-301:"(min-width:301px) and (max-width:500px)";
  $max768-501:"(min-width:501px) and (max-width:768px)";
  $max768: "(max-width:768px)";
  $min768: "(min-width:768px)";
  $max991-767:"(min-width:767px) and (max-width:991px)";
  $sml-scrn991:"(max-width:991px)";
  $max1200-992: "(max-width:1200px) and (min-width:992px)";
  $max991: "(max-width:991px)";

  background-color: $light-green;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  padding: 3% 10%;
  h1
  {
    text-transform: uppercase;
    font-size: 27px;
    color: $font-grey;
    margin-bottom: 25px;
    font-weight: bold;
    @media #{$max768-501}
    {
      font-size: 23px;
    }
    @media #{$max500-301}
    {
      font-size: 20px;
    }
  }
  .white-bg-section
  {
    padding: 5%;
    background-color: $white;
    position: relative;
    .grey-bg-form-wrapper
    {
      background-color: $bg-grey;
      padding: 25px 50px;
      border-radius: 10px;
      @media #{$max768}
      {
        padding: 15px 20px;
      }
      .form-margin-left
      {
        margin-left: -12%;
        @media #{$max1200-992}
        {
          margin-left: -7%;
        }
        @media #{$max991-767}
        {
          margin-left: -3%;
        }
        @media #{$max768}
        {
          margin-left: 0;
        }
      }
      .profile-pic-container
      {
        display: flex;
        justify-content: center;
        align-items: center;
        .sml-hide
        {
          @media #{$max768}
          {
            display: none;
          }

          .file-selection
          {
            width: 100%;
            background-color: $white;
            border: 1px solid $bg-grey;
            border-radius: 4px;
            text-transform: capitalize;
            font-size: 16px;
            padding: 5px;
            color: $font-grey;
          }
        }
        .sml-scrn-file
        {
          border: 2px solid $blue;
          background-color: $white;
          border-radius: 5px;
          padding: 3px 7px;
          @media #{$max500-301}
          {
            font-size: 12px;
            padding: 3px 5px;
          }
          @media #{$min768}
          {
            display: none;
          }
          @media #{$max768}
          {
            display: inline-block;
          }
        }
      }

      .profile-pic-div
      {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .user-pic{
          width: 125px;
          height: 125px;
          border-radius: 100%;
          border: 2px solid $font-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          background-color: $white;
          @media #{$max500-301}
          {
            width: 100px;
            height: 100px;
          }
          .fa-user{
            font-size: 80px;
            color: $blue;
            @media #{$max500-301}
            {
              font-size: 65px;
            }
          }
          .icon-pencil-user{
            position: absolute;
            bottom: 2px;
            right: 4px;
            padding: 6px;
            background-color:$dark_grey;
            border-radius: 100%;
            color: $white;
            border: 2px solid $white;
            @media #{$max500-301}
            {
              bottom: 1px;
              right: 2px;
              padding: 4px;
            }
          }
        }
      }

      .cumpulsory-star
      {
        position: absolute;
        right: 5px;
        top: 10px;
      }
      .label-design
      {
        text-transform: uppercase;
        color: $font-grey;
        font-weight: lighter;
        font-size: 18px;
        @media #{$max1200-992}
        {
          font-size: 16px;
        }
        @media #{$sml-scrn991}
        {
          font-size: 15px;
          padding-top: 0 !important;
        }
        @media #{$max768-501}
        {
          font-size: 14px;
        }
        @media #{$max500-301}
        {
          font-size: 13px;
        }
        @media #{$max300-0}
        {
          font-size: 11px;
        }
      }
      .input-div
      {
        background-color: $white;
        padding: 2px;
        border-radius: 5px;
        margin-right: 10px;
        input
        {
          border: 1px solid $bg-grey;
          border-radius: 5px;
          width: 100%;
          padding: 7px 5px;
        }
        input:focus
        {
          outline: 0;
        }
        textarea
        {
          border: 1px solid $bg-grey;
          border-radius: 5px;
          width: 100%;
          padding: 7px 5px;
        }
        textarea:focus
        {
          outline: none;
        }
      }
      .update-profile-btn
      {
        margin-top: 20px;
        background-color: $white;
        border: 2px solid $blue;
        border-radius: 7px;
        font-size: 17px;
        padding: 7px 25px;
        box-shadow: 2px 3px 7px $dark_grey;
        @media #{$max768-501}
        {
          font-size: 15px;
          padding: 5px 15px;
        }
        @media #{$max500-301}
        {
          font-size: 13px;
          padding: 5px 13px;
        }
      }
    }
  }
}


.form-div{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .form-wrapper
  {
    background-color: $white;

    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-icon-white
  {
    border-radius: 5px;
    color: $grey-font;
    border: 1px solid $border-grey;
    height: 35px;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-icon-envelop{
    background-color: $border-grey;
    font-size: 30px;

  }
  .input-width{
    width: 120%;
    input{
      width: 100%;
    }
    input:focus{
      outline: none;
    }
  }
  .label-input-div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .login-label-div
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 15px;
    font-weight: normal;
    @media #{$max500-301}
    {
      font-size: 12px;
    }
  }
  ::-webkit-input-placeholder
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 15px;
  }
}

.word_color{
  color: $blue;
}
.dark_p{
  line-height: 1.7em;
  color: $dark_grey;
  font-weight: lighter;
  font-size: 20px;
  @media #{$max300-0}{
    font-size: 12px;
  }
  @media #{$max500-301}{
    font-size: 12px;
  }
  @media #{$max768-501}{
    font-size: 15px;
  }
}
.description-h3{
  text-transform: capitalize;
  color: $heading_h;
  font-weight: bold;
  font-size: 30px;
  @media #{$max300-0}{
    font-size: 15px;
  }
  @media #{$max500-301}{
    font-size: 15px;
  }
  a:hover{
    text-decoration: none;
  }
}
.heading-border-bottom
{
  border-bottom: 1px solid $light_grey;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.techer-profile-section{
  background-color: $light_green;
  padding: 0 9%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 2px solid $border_green;
  border-bottom: 2px solid $border_green;
  @media #{$max300-0}{
    padding: 10px;
  }
  @media #{$max500-301}{
    padding: 10px;
  }
  @media #{$max768-501}{
    padding: 10px;
  }
  .review-div{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      font-size: 30px;
      margin: 0;
      text-transform: capitalize;
      color: $heading_h;
      @media #{$max300-0}{
        font-size: 10px;
      }
      @media #{$max500-301}{
        font-size: 15px;
      }
      }
      .icon-star{
        color: $dark_yelow;
        font-size: 20px;
        @media #{$max300-0}{
          font-size: 10px;
        }
        @media #{$max500-301}{
          font-size: 10px;
        }
      }
      .icon-star:hover
      {
        cursor: pointer;
      }
      .review-text{
        color: $heading_h;
        margin-left: 10px;
        margin-right: 10px;
        @media #{$max300-0}{
          font-size: 10px;
        }
        @media #{$max500-301}{
          font-size: 10px;
        }
      }
  }
  .bg-white{
    background-color: $white;
    border: 1px solid $light_grey;
    padding: 0 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
    border-radius: 5px;
    @media #{$max300-0}{
      padding: 10px;
    }
    @media #{$max500-301}{
      padding: 10px;
    }
    @media #{$max768-501}{
      padding: 10px;
    }

    .circl-imgdiv{
      padding: 0 12px;
      padding-top: 2%;
      padding-bottom: 3%;
      .div-without-more-subject{
        display: none;
      }
      .circle-row{
        margin: 0;
        padding: 0;
      }
      .aditya-pic{
        width: 80%;
        border-radius: 100%;
        border: 4px solid $img_border;
        margin-right: 3%;
        @media #{$max300-0}{
          margin-right: 0;
        }
        @media #{$max500-301}{
          margin-right: 0;
        }
      }
      .aditya-col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .aditya-h4{
          text-transform: uppercase;
          color: $heading_h;
          font-size: 27px;
          @media #{$max300-0}{
            font-size: 8px;
          }
          @media #{$max500-301}{
            font-size: 10px;
          }
          .h4-bold{
            font-weight: bold;

          }
        }
        .doller-h4{
          margin-left: 10%;
          font-weight: bold;
          color: $heading_h;
          font-size: 27px;
          cursor: pointer;
          @media #{$max300-0}{
            font-size: 8px;
            margin-left: 10%;
          }
          @media #{$max500-301}{
            font-size: 10px;
            margin-left: 10%;
          }
          @media #{$max768-501}{
            margin-left: 10%;
          }
        }
      }
      h5{
        color: $heading_h;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 3%;
        font-size: 19px;
        @media #{$max300-0}{
          font-size: 10px;
        }

        @media #{$max500-301}{
          font-size: 10px;
        }
      }
      p{
        color: $dark_p;
        font-size: 17px;
        @media #{$max300-0}{
          font-size: 9px;
        }
        @media #{$max500-301}{
          font-size: 11px;
        }

      }
      .btn-grey{
        padding: 3px 14px;
        border-radius: 7px;
        background-color: $btn_grey;
        text-transform: capitalize;
        color: $white;
        margin-right: 5px;
        margin-top: 10px;
        border: 0;
        font-size: 17px;
        @media #{$max300-0}{
          padding: 2px 5px;
          font-size: 8px;
        }
        @media #{$max500-301}{
          padding: 2px 5px;
          font-size: 8px;
        }
      }

      .more-option
      {
        color: $btn_green2;
        text-transform: capitalize;
        font-size: 18px;
        cursor: pointer;
      }
      .hidden-btn
      {
        display: none;
      }
      .btn-green2{
        padding: 8px 20px;
        border-radius: 9px;
        background-color: $white;
        text-transform: uppercase;
        color: $dark_grey;
        margin-right: 5px;
        margin-top: 20px;
        border: 2px solid $btn_green2;
        box-shadow: 3px 2px 6px 2px $light_grey;
        @media #{$max300-0}{
          padding: 2px 5px;
          font-size: 8px;
        }
        @media #{$max500-301}{
          padding: 3px 7px;
          font-size: 9px;
          margin-top: 5px;
        }

      }
    }
    .profile-progress-div
    {
      color: $dark_p;
      .progress
      {
        height: 6px;
        background-color: $btn_grey;
      }
      p
      {
        color: $dark_p;
        font-size: 17px;
        @media #{$max500-301}
        {
          font-size: 13px;
        }
      }
      .right-worked-history
      {
        text-align:right;
        font-weight: bold;
        h4
        {
          text-transform: capitalize;
          font-size: 25px;
          @media #{$max500-301}
          {
            font-size: 20px;
          }
        }
      }
    }
  .video-border
  {
    border-top: 1px solid $light_green;
    border-bottom: 1px solid $light_green;
    .embed-responsive-16by9 {
      padding-bottom: 50.25%;
    }
    iframe{
      width: 100%;
      height: 400px;
      margin-top: 30px;
    }
    .video-upload-div
    {
      display: flex;
      justify-content: center;
      padding: 3% 0;
      .video-circle
      {
        display: block;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 2px solid $dark_grey;
        text-align: center;
        line-height: 54px;
        font-size: 35px;
        color: $dark_grey;
        cursor: pointer;
        @media #{$max500-301}
        {
          width: 37px;
          height: 37px;
          line-height: 37px;
          font-size: 20px;
        }
        .fa
        {
          margin-left: 7px;
          @media #{$max500-301}
          {
            margin-left: 4px;
          }
        }

      }
      h3
      {
        text-transform: capitalize;
        color: $dark_grey;
        font-size: 25px;
        margin-left: 17px;
        margin-top: 7px;
        font-size: 35px;
        @media #{$max500-301}
        {
          font-size: 20px;
          margin-left: 13px;
        }
      }
    }
    #video-url
    {
      width: 100%;

      display: none;
      margin: 5px 0;
      .string  {
        width: 100%;
        background-color: transparent;
        outline: none;
        //border: none;
      }
    }
    #video-url:focus
    {
      outline: 0;
    }
    ::-webkit-input-placeholder
    {
      text-transform:capitalize;
      font-size: 17px;
    }
  }

  .overview-div
  {
    margin-top: 30px;
  }
    .personal-description-div{
      // padding-left: 20px;
      .add_experience, .add_education, .add_skill{
        font-size: 20px;
        color: #0f8fd4;
        margin-top: 25px;
        display: inline-block;
        margin-bottom: 10px;
        cursor: pointer;
        .font-circle{
          border-radius: 50%;
          border: 2px solid #0f8fd4;
          padding: 2px 5px;
          margin-right: 10px;
        }
      }
        p{
          line-height: 1.7em;
          color: $dark_grey;
          font-weight: lighter;
          font-size: 20px;
          margin-bottom: 0;
          @media #{$max300-0}{
            font-size: 12px;
          }
          @media #{$max500-301}{
            font-size: 12px;
          }
          @media #{$max768-501}{
            font-size: 15px;
          }
        }
        ul
        {
          padding-left: 21px;
          li{
            font-size: 25px;
            @media #{$max300-0}{
              margin: 0;
            }
            @media #{$max500-301}{
              margin: 0;
            }
            @media #{$max768-501}{
              margin: 0;
            }
            p{
              text-transform: capitalize;
            }
          }
        }
    }
    .testimonial-div{
      .testimonial-border{
        background-color: $white;
        padding: 30px 0 ;
        @media #{$max300-0}{
          padding: 10px;
        }
        @media #{$max500-301}{
          padding: 10px;
        }
        .chinese-girl{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          img{
            border-radius: 100%;
          }
          h5{
            text-transform: capitalize;
            color: $btn_green2;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            @media #{$max300-0}{
              font-size: 10px;
            }
            @media #{$max500-301}{
              font-size: 12px;
            }
            @media #{$max768-501}{
              font-size: 15px;
            }
          }
          h6{
            text-transform: capitalize;
            font-weight: bold;
            color:$dark_p;
            font-size: 15px;
          }
          p{
            color: $dark_grey;
            font-weight: lighter;
            @media #{$max300-0}{
              font-size: 10px;
            }
            @media #{$max500-301}{
              font-size: 12px;
            }
          }
          .star-blue{
            color: $star_blue;
            margin-bottom: 20px;
          }
          .star-blue:hover{
            cursor: pointer;
          }
          .star-blue-text{
            font-weight: bold;
            margin-left: 10px;
          }
          .grey-user-icon{
            width: 80px;
            height: 80px;
            border: 3px solid $img_border;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-icon{
              font-size: 40px;
              font-weight: bold;
            }

          }

        }
        .heading-underline{
          margin-top: 50px;
          margin-bottom: 50px;
          width: 100%;
          height: 1.5px;
          display: block;

          background: linear-gradient(to right, rgba(179,179,179,0)0%, rgba(179,179,179,.9)35%,rgba(179,179,179,.9)35%,rgba(179,179,179,0)100%);
        }
      }
    }
    .maps-div{
      border-radius: 10px;
      background-color: $white;
      .extra-map-para{
        @media #{$max768-501}{
          display: none;
        }
        p{
          text-transform: capitalize;
          a{
            text-transform: lowercase !important;
            color: $dark_p;
            background-color: $textarea_bg;
          }
        }
      }
      .mapspara{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 15%;
        padding: 2%;
            border-width: 3px 3px 3px 0;
            border-style: solid;
            -webkit-border-image:
              -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
            -webkit-border-image:
              -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            -moz-border-image:
              -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            -o-border-image:
              -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            border-image:
              linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%;
              @media #{$max0_992}{
                border: 0;
                margin-top: 2%;
              }
              @media #{$max300-0}{
                display: none;
              }
              @media #{$max500-301}{
                display: none;
              }
        .mapspara-heading{
          text-align: right;
          margin-right: 10px;
          p{
            text-transform: capitalize;
            color: $dark_p;
            font-weight: bold;
            line-height: 2em;
            font-size: 15px;
          }
        }
        .maps-para-right{
          p{
            text-transform: capitalize;
            color: $dark_p;
            line-height: 2em;
            font-size: 15px;
          }
          a{
            color: $dark_p;
            background-color: $textarea_bg;
            padding: 5px 10px;
          }
          .copy-link{
            color: $btn_green;
            margin-top: 10px;
          }
          .copy-link:hover{
            cursor: pointer;
          }
        }
      }
      h2{
        text-transform: capitalize;
        color: $heading_h;
        font-weight: bold;
      }
      #map{
         width:100%;
         height:230px;
         background-color:yellow;
         border: 1px solid $dark_p;
         margin-top: 30px;
         margin-bottom: 30px;
         @media #{$max0_992}{
           width: 100%;
           margin-left: 0;
         }

      }
      button{
        color: $white;
        border-radius: 7px;
        border: 0;
        padding: 5px 0;
        padding-left: 10px;
        padding-right: 30px;
        margin-right: 5px;
        text-transform: capitalize;
        margin-top: 10px;
        margin-bottom: 20px;
        @media #{$max768-501}
        {
          padding-left: 7px;
          padding-right: 20px;
        }
        @media #{$max500-301}
        {
          padding: 0 4px;
          padding-left: 5px;
          padding-right: 10px;
          border-radius: 5px;
        }
        .fa{
          color: $white;

          border-right: 1px solid $dark_grey;
          margin-right: 30px;
          padding-right: 10px;
          font-size: 20px;
          @media #{$max768-501}
          {
            margin-right: 17px;
          }
          @media #{$max500-301}
          {
            font-size: 15px;
            margin-right: 10px;
          }
        }
      }
      .social-link-btns
      {
        display:flex;
        flex-wrap:wrap;
      }
      .btn-blue{
        background-color: $btn-blue;
      }
      .btn_twitter{
        background-color: $btn_green;
      }
      .btn-navyblue{
        background-color: $btn_navyble;
      }
    }
  }
  .modal
  {
    color: $dark_grey;
    .modal-header
    {
      background-color: lighten($light_grey, 15%);
      padding: 15px 30px;
      h4
      {
        text-transform: capitalize;
        font-size: 20px;
      }
    }
    .close
    {
      color: $green;
      font-size: 30px;
    }
    .modal-body
    {
      padding: 20px 30px;
      @media #{$max500}
      {
        padding: 15px 20px;
      }
      tr
      {
        border-bottom: 1px solid $light_grey;
        td
        {
          padding: 20px 0px;
          p
          {
            margin-top: 5px;
          }
        }
        .value-side
        {
          display: flex;
          align-items: center;
          margin-left: 35px;
          @media #{$max500}
          {
            margin-left: 20px;
          }
          label
          {
            color: $green;
            font-weight: normal;
            font-size: 25px;
            @media #{$max500}
            {
              font-size: 20px;
            }
          }
          input
          {
            margin: 0 10px;
            padding: 5px;
            text-align: right;
            border: 2px solid $light_grey;
            font-size: 20px;
            width: 180px;
            @media #{$max500}
            {
              font-size: 17px;
              width: 100px;
              margin: 0 5px;
            }
          }
          input:focus
          {
            outline: none;
          }
          .transinput
          {
            border: 0;
          }
          span
          {
            font-size: 20px;
            color: $light_grey;
            @media #{$max500}
            {
              font-size: 10px;
            }
          }
        }
      }
      tr:last-child
      {
        border-color: transparent;
      }
    }
    .modal-footer
    {
      text-align: left;
      padding: 10px 30px;
      .btn-success
      {
        border-radius: 2px;
        padding: 5px 25px;
        font-size: 16px;
        background-color:$green;
        @media #{$max500}
        {
          padding: 3px 18px;
          font-size: 13px;
        }
      }
      .btn-default
      {
        border: 0;
        background-color: transparent;
        color: $green;
        text-transform: capitalize;
        font-size: 16px;
        @media #{$max500}
        {
          font-size: 13px;
        }
      }
    }
  }


}

.maps-div-teacher{
  border: 2px solid $dark_white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: $white;
  .extra-map-para{
    @media #{$max768-501}{
      display: none;
    }
    p{
      text-transform: capitalize;
      a{
        text-transform: lowercase !important;
        color: $dark_p;
        background-color: $textarea_bg;
      }
    }
  }
  h2{
    text-transform: capitalize;
    color: $heading_h;
    font-weight: bold;
  }
  button{
    color: $white;
    border-radius: 10px;
    border: 0;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 5px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    .fa{
      color: $white;
      border-right: 1px solid $dark_grey;
      margin-right: 30px;
      padding-right: 10px;
      font-size: 20px;
    }
  }
}

//student profile others view style---
.student-profile-comment
{
  display:flex;
  width: 100%;
  img
  {
    border-radius: 0;
    align-self:flex-start;
  }
  .comments-info-div
  {
    width: 100%;
    margin-left: 20px;
    h4
    {
      margin-top: 0;
      font-size: 20px;
      color: $blue;
      font-weight: bold;
      text-transform: capitalize;
      @media #{$max500-301}
      {
        font-size: 16px;
      }
    }
    ul
    {
      padding-left: 0;
      li
      {
        display: inline-block;
        margin-right: 10px;
        @media #{$max300-0}{
          font-size: 12px;
        }
        @media #{$max500-301}{
          font-size: 12px;
        }
        @media #{$max768-501}{
          font-size: 15px;
        }
      }
      li:hover
      {
        cursor:pointer;
      }
    }
    textarea
    {
      width: 100%;
      border: 0;
      background-color: $textarea_bg;
      padding-left: 10px;
      padding-top: 10px;
    }
    textarea:focus
    {
      outline: none;
    }
    ::-webkit-textarea-placeholder
    {
      font-size:30px;
      font-weight:bold;
      color: $textarea_bg;
    }
    .comment-btn
    {
      background-color: $blue;
      color: $white;
      border: 0;
      margin-top: 12px;
      text-transform: capitalize;
      border-radius: 3px;
    }
  }
}
.table-col-1{
  width: 18%;
}
.table-col-2{
  width: 25%;
}
.table-col-3{
  width: 20%;
}
.table-col-4{
  width: 28%;
}

.section-of-form-for-experience {
  display: none;
  margin-top: 20px;
  .invite-friend-section
  {
    background-color: #F4F4F7 !important;
    .login-details-div
    {
      padding: 3% 0;
      // border-top: 1px solid $dark-blue;
      margin-top: 4px;
      // border-bottom: 7px solid $dark-blue;
      h1
      {
        font-size: 35px;
        color: $grey-font;
        padding-bottom: 35px;
        margin: 0;
        font-weight: lighter;
        @media #{$max500-301}
        {
          font-size: 27px;
          padding-bottom: 10px;
        }
        @media #{$max300-0}
        {
          font-size: 24px;
          padding-bottom: 10px;
        }
      }
      h2
      {
        text-transform: uppercase;
        color: $grey-font;
        font-size: 25px;
        margin-bottom: 35px;
        @media #{$max500-301}
        {
          font-size: 18px;
        }
        @media #{$max300-0}
        {
          font-size: 15px;
        }
      }
      h3
      {
        text-transform: uppercase;
        color: $grey-font;
        font-size: 20px;
        margin-bottom: 15px;
        @media #{$max500-301}
        {
          font-size: 15px;
        }
        @media #{$max300-0}
        {
          font-size: 13px;
        }
      }
      .login-form-div
      {
        margin: 0 5%;
        @media #{$max1180-990}
        {
          margin: 0 5%;
        }
        @media #{$max991-767}
        {
          margin: 0 5%;
        }
        @media #{$max768-501}
        {
          margin: 0 3%;
        }
        @media #{$max500-301}
        {
          margin: 0;
        }
        @media #{$max300-0}
        {
          margin: 0;
        }
      }
      .login-form-container
      {

        .icon-wrapper
        {
          background-color: $white;
          padding: 3px;
          border-radius: 5px;
          display: inline-block;
          margin-top: 25px;
        }
        .login-icon-div-white
        {
          background-color: $white;
          border-radius: 5px;
          padding: 0px 5px;
          font-size: 30px;
          color: $grey-font;
          border: 1px solid $border-grey;
        }
        .login-icon-div-trans
        {
          background-color: $border-grey;
          border-radius: 5px;
          padding: 0px 8px;
          font-size: 30px;
          color: $grey-font;
          border: 1px solid $border-grey;
        }
        .login-label
        {
          text-transform: uppercase;
          color: $grey-font;
          font-size: 15px;
          font-weight: normal;
          @media #{$max500-301}
          {
            font-size: 12px;
          }
        }
        ::-webkit-input-placeholder
        {
          text-transform: uppercase;
          color: $grey-font;
          font-size: 15px;
        }
        .login-flex
        {
          display: flex;

          .input-flex
          {
            flex: 5;
            textarea{
              border: 1px solid #F4F4F7;
              border-radius: 5px;
              width: 100%;
              padding: 5px 5px;
              outline: none;
            }
          }
        }
        .login-option-div
        {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          h2
          {
            text-transform: uppercase;
            color: $grey-font;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 15px;
            @media #{$max500-301}
            {
              font-size: 18px;
            }
            @media #{$max300-0}
            {
              font-size: 15px;
            }
          }
        }
      }

      .forget-link
      {
        color:$blue;
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 15px;
        margin-left: 10px;
        @media #{$max500-301}
        {
          margin-left: 5px;
          font-size: 12px;
        }
        @media #{$max300-0}
        {
          margin-left: 5px;
          font-size: 12px;
        }
      }
      .signup-link
      {
        color:$grey-font;
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 15px;
        margin-left: 10px;
        @media #{$max500-301}
        {
          margin-left: 5px;
          font-size: 12px;
        }
        @media #{$max300-0}
        {
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .login-retrieve-btn
      {
        background-color: $white;
        border: 2px solid $blue;
        border-radius: 7px;
        padding: 7px 12px;
        color: $grey-font;
        font-size: 17px;
        font-weight: normal;
        text-transform: capitalize;
        @media #{$max768-501}
        {
          font-size: 15px;
          padding: 5px 10px;
        }
        @media #{$max500-301}
        {
          font-size: 13px;
          padding: 5px 10px;
        }
      }
    }

    background-color: $light-green;
    padding: 3% 0;
    p
    {
      font-size: 18px;
      font-weight: lighter;
      color: $grey-font;
      @media #{$max768-501}
      {
        font-size: 16px;
      }
      @media #{$max500-301}
      {
        font-size: 13px;
      }
      @media #{$max300-0}
      {
        font-size: 11px;
      }
    }
    .friend-info
    {
      padding: 5%;
      position: relative;
      h2
      {
        color: $grey-font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 23px;
        margin-bottom: 20px;
        @media #{$max768-501}
        {
          font-size: 20px;
        }
        @media #{$max500-301}
        {
          font-size: 17px;
        }
        @media #{$max300-0}
        {
          font-size: 14px;
        }
      }
    }
  }

}
