
@import "variable.css.scss";
/*******student-profile-section*********/
.student-profile-section{
  background-color:$light_green;
  padding: 1% 4%;
  h1{
    text-transform: uppercase;
    color: $heading_h;
    @media #{$max0_992}{
      font-size: 20px;
    }
  }
  .student-profile-div{
    background-color: $dark-white;
    padding:4% 2%;
    @media #{$max0_992}{
      padding: 7% 1%;
    }
    .personal-description-div{
      background-color: $light-white-grey;

      .personal-description-border{
        border: 10px solid $light-white-grey;
        background-color: $white;
        padding: 0 30px ;
        padding-top: 3%;
        margin-top: 20px;
        @media #{$max0_992}{
          padding: 10px;
        }
        p{
          line-height: 2.5em;
          color: $dark_p;
          font-weight: lighter;
          font-size: 20px;
          @media #{$max0_992}{
            font-size: 12px;
          }

        }

        .student-table{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;

          .table-img-flex{
            width: 7%;
            img{
              width: 60px;
              border-radius: 100%;
              margin-top: 80%;
              @media #{$max992}{
                width: 40px;
              }
              @media #{$max1200}{
                width: 50px;
              }
              @media #{$max300-0}{
                display: none;
              }
              @media #{$max500-301}{
                display: none;
              }
              @media #{$max768-501}{
                display: none;
              }
            }
          }
          }

        table{
          text-align: center;

          font-size: 20px;
          @media #{$max300-0}{
            font-size: 12px;
          }
          @media #{$max500-301}{
            font-size: 12px;
          }
          @media #{$max768-501}{
            font-size: 12px;
          }
          @media #{$max992}{
            font-size: 12px;
          }
          .tr-color{
            background-color: $dark_green;

          }
          td{
            color: $heading_h;
            @media #{$max0_992}{
              font-size: 12px;
            }
          }

          th{
            text-transform: capitalize;
              text-align: center;
              margin-bottom: 50px;
          }
          .boder-right-table{
            border-right: 1px solid $border_col;
          }
        }
      }
    }
  }
}
.blank-tr{
  width: 100%;
  height: 30px;
}
.blank-th-tr{
  width: 100%;
  height: 20px;
}
.data-margin{
  display: flex;
  flex-direction: column;
}
.td-bg-white{
  background-color: $white;
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.td-flex{
  display: flex;
  flex-direction: column;
}
.size-of-no{
  font-size: 15px !important;
  @media #{$max0_992}{
    font-size: 12px;
  }
}
.margin-data-padding{
  padding: 15px 0;
}
.tr-color2{
  background-color: $light-blue;
}
.upcomming-classes-table{
  @media #{$max300-0}{
    display: none;
  }
  @media #{$max500-301}{
    display: none;
  }
  @media #{$max768-501}{
    display: none;
  }
}
.teacher-img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  @media #{$max300-0}{
    width: 50px;
    height: 50px;
  }
  @media #{$max500-301}{
    width: 50px;
    height: 50px;
    }
}
.teacher-name{
  background-color: $dark_green;
  display: flex;
  justify-content:flex-start;
  padding: 0 10px;
  margin-bottom: 10px;
  p{
    margin: 0;
    font-size: 12px !important;
    @media #{$max300-0}{
      font-size: 10px !important;
    }
    @media #{$max500-301}{
      font-size: 10px !important;
    }
  }
  .teacher-p{
    color: $blue !important;
    width: 40%;
  }
  .color-date{
    color: $blue !important;
  }
}
