@import "variable.css.scss";

/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;
$dark_green:#EBF7F8;
$light-blue:#F1F5F9;
$light-white-grey:#E6E6E6;

//class overview color variable

$orangered:  #FF602F;

$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";

/*******student-profile-section*********/
.student-profile-section{
  background-color:$light_green;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  input:focus{
    outline: none;
  }
  h1{
    text-transform: uppercase;
    color: $heading_h;
    font-size: 35px;
    margin: 3% 4%;
    @media #{$max300}{
      font-size: 15px !important;
      text-align: center;
    }
    @media #{$max500}{
      font-size: 15px  !important;
      text-align: center;
    }
    @media #{$max0_992}{
      font-size: 20px;
    }
  }
  .classes-info-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% 4%;
    @media #{$max300}{
      justify-content: center;
    }
    @media #{$max500}{
      justify-content: center;
    }
    a{
      background-color: $white;
      border: 2px solid $blue;
      text-transform: capitalize;
      padding: 5px 30px;
      border-radius: 8px;
      color: $heading_h;
      text-decoration: none;
      margin-right: 3px;
      margin-bottom: 5px;
      font-weight: bold;
      @media #{$max300}{
        font-size: 10px !important;
        margin-bottom: 5px !important;
      }
      @media #{$max500}{
        font-size: 10px !important ;
        margin-bottom: 5px !important;
      }
      @media #{$max768}{
      font-size: 10px !important;
      padding-left: 10px;
      padding-right: 10px;
      }

      img{
        margin-left: 5px;
        @media #{$max300}{
          margin-left: 5px;
          width: 15px;
        }
        @media #{$max500}{
          margin-left: 5px;
          width: 15px;
        }
      }
      @media #{$max300}{
        padding: 5px 5px;
        font-size:12px;
      }
      @media #{$max500}{
        padding: 5px 5px;
        font-size:12px;
      }
    }
    // a:hover{
    //   color:$blue;
    // }
    .search-div{
      background-color: $white;
      width: 227px;
      border: 1px solid $border_col;
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input{
        border: 0;
        width: 90%;
      }
      input:focus{
        outline: none;
      }
      @media #{$max300}{
        width: 180px;
          padding: 3px 10px;
      }
      @media #{$max500}{
          width: 187px;
            padding: 3px 10px;
      }
      @media #{$max768}{
        padding: 3px 10px;
        width: 30%;
      }
    }
    .classes-info-link1{
      margin-top: 0;
      margin-bottom: 0;
    }
    .classes-info-link1:hover{
      background-color: #D7D8D9;
      color: $blue;
    }
    .classes-info-link2{
      margin-top: 0;
      margin-bottom: 0;
    }
    .classes-info-link2:hover{
      background-color: #D7D8D9;
      color: $blue;
    }
  }

  .student-profile-div{
    margin: 1% 4%;
    background-color: $dark-white;
    padding:1% 2%;
    .personal-description-div{
      .personal-description-border{
        padding-left: 2%;
      padding-right: 2%;
        border: 1px solid $border_col;
        border-radius: 5px;
        background-color: $white;
      padding-top: 20px;
      padding-bottom: 20px;
        @media #{$max0_992}{
          padding: 10px;
          margin-bottom: 20px;
        }
        p{
          color: $dark_p;
          font-weight: lighter;
        }
        .techer-tips-p{
          border-top: 1px solid $place_color;
          border-bottom: 1px solid $place_color;
          padding: 10px;
        }

        .student-table{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;
          .table-img-flex{
            width: 7%;
            .adam-photo{
                margin-top: 80%;
                @media #{$max1200}{
                margin-top: 95%;
                }
            }
            .teachers-photo{
              margin-top: 40% !important;
            }
            img{
              width: 40px;
              border-radius: 100%;
              @media #{$max300}{
                display: none;
              }
              @media #{$max500}{
                display: none;
              }
              @media #{$max768}{
                display: none;
              }
              @media #{$max1200}{
              width: 35px;
              }
            }
          }
          }

        table{
          text-align: center;
          font-size: 12px;
          @media #{$max300}{
            font-size: 12px;
          }
          @media #{$max500}{
            font-size: 12px;
          }
          @media #{$max768}{
            font-size: 12px;
          }
          @media #{$max992}{
            font-size: 12px;
          }
          .tr-color{
            background-color: $dark_green;

          }
          td{
            color: $heading_h;
            @media #{$max0_992}{
              font-size: 12px;
            }
            @media #{$max1200}{
              font-size: 12px;
            }
          }

          th{
            text-transform: capitalize;
              text-align: center;
              color: $blue;
              @media #{$max1200}{
                font-size: 12px;
              }
          }
          .boder-right-table{
            border-right: 1px solid $border_col;
            input:focus{
              outline: none;
            }
          }
        }
        .student-btn{
          display: flex;
          justify-content: flex-end;
          margin-top:30px;
          margin-bottom: 40px;
          .student-blue-btn{
            display: block;
            width: 120px;
            background-color: $blue;
            text-transform: uppercase;
            padding: 5px 0;
            text-align: center;
            border-radius: 3px;
            margin-left: 10px;
            a{
              color: $white;
              text-decoration: none;
              font-size: 12px;
            }
          }
          @media #{$max300}{
            margin-top: 0;
          }
          @media #{$max500}{
            margin-top: 0;
          }
          @media #{$max768}{
            margin-top: 0;
          }
        }
        .btn-view-student{
          margin-top: 5%;
          @media #{$max300}{
            margin-top: 0;
          }
          @media #{$max500}{
            margin-top: 0;
          }
          @media #{$max768}{
            margin-top: 0;
          }
        }
        .view-all-btn{
          display: flex;
          justify-content: flex-end;
          margin-bottom: 20px;
          .btn-view{
            display: block;
            width: 160px;
            background-color: $white;
            padding: 7px 0;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 2px 2px $border_col;
            border: 2px solid $blue;
            a{
              color: $heading_h;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.blank-tr{
  width: 100%;
  height: 30px;
}
.blank-th-tr{
  width: 100%;
  height: 20px;
}
.data-margin{
  display: flex;
  flex-direction: column;
}
.td-bg-white{
  background-color: $white;
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.td-flex{
  display: flex;
  flex-direction: column;
}
.size-of-no{
  font-size: 20px !important;
  @media #{$max0_992}{
    font-size: 12px;
  }
}
.margin-data-padding{
  padding: 15px 0;
}
.tr-color2{
  background-color: $light-blue;
}
.upcomming-classes-table{
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }
  @media #{$max768}{
    display: none;
  }
}
.teacher-img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  @media #{$max300}{
    width: 50px;
    height: 50px;
  }
  @media #{$max500}{
    width: 50px;
    height: 50px;
    }
}
.teacher-name{
  background-color: $dark_green;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 3px 10px;
  margin-bottom: 10px;
  p{
    margin: 0;
    font-size: 12px !important;
    @media #{$max300}{
      font-size: 10px !important;
    }
    @media #{$max500}{
      font-size: 10px !important;
    }
  }
  .teacher-p{
    color: $blue !important;
    width: 40%;
  }
  .color-date{
    color: $blue !important;
  }
}

.ph-no-add{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  .fa{
    margin-left: 10px;
  }
  @media #{$max300}{
  margin: 0 auto;
  }
  @media #{$max500}{
  margin: 0 auto;
  }
  @media #{$max768}{
    margin: 0 auto;
  }

}
.teacher-tip-div{
  background-color: $white;
  margin-bottom: 10px;
  padding:5px 0;
  border-radius: 5px;
  border: 1px solid $border_col;
  h3{
    margin-top: 0;
    text-transform: capitalize;
    color: $heading_h;
    padding: 10px;
    border-bottom: 1px solid $border_col;
  }
  p{
    color: $dark_p;
    font-weight: lighter;
    padding-left: 10px;

  }
  h5{
    padding-left: 10px;
    margin: 0;
    padding-bottom: 20px;
    a{
      text-decoration: none;
      color: $blue;
    }
  }
  .learn-payment{
    border-top: 1px solid $border_col;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .techer-tips-p{
    border-bottom: 1px solid $border_col;
    padding-bottom: 10px;
  }
}
.reshedule-div{
  background-color: $blue;
  padding: 5px 10px;
  color: $white;
  text-transform: capitalize;
  border-radius: 3px;
  border: 0;
}
.non-visible-row{
  visibility: hidden;
}
.teachers-photo{
  margin-top: 80% !important;
}
.tr-color2{
  background-color: $light-blue;
}
.previous-next-section{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 10px;
  a{
    color: $heading_h;
    margin-left: 20px;
    text-decoration: none;
  }
}
.btn-view-classes{
margin-bottom: 20px;
margin-top: 30px;
margin-left: 7%;
display: block;
@media #{$max768}{
  margin-left: 0;
  display: flex;
  justify-content: center;
}

  a{
    color: $white;
    text-transform: capitalize;
    background-color: $blue;
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
  }
}
.mobile-view-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .view-classes-btn{
    display: flex;
    justify-content: center;

      a{
        color: $white;
        text-transform: capitalize;
        background-color: $blue;
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration: none;
      }
  }
}
.btn-group-section{
  display: flex;
  justify-content: flex-end;
  margin-top: 6%;
  margin-bottom: 2px;
  .btn-group{
    .btn1{
      background-color: $border_green;
      border: 0;
      color: $white;
    }
    .btn2{
      background-color: $blue;
      border: 0;
      color: $white;
    }
    button:focus{
      outline: none;
      background-color: $btn_green;
      border: 0;
    }
  }
}

.img-graph-div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .img-graph{
    width: 25px;
    height: 25px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid $btn_green;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

  }
  a{
    color: $blue;
    text-decoration: none;
  }

}
.completed-class{
  display: none;
}
.student-view-small-screen{
  margin-bottom: 20px;
}
.active{
  color: $blue;
}
// for pending classes awaiting payment registerd classes section---
.class-overview
{
  .filter-div
  {
    margin-bottom: 20px;
    text-align: right;
      button
      {
        border: 0;
        border-radius: 10px;
        padding: 4px 15px;
        font-size: 15px;
        box-shadow: 1px 2px 5px $blue;
        background-color: $white;
        margin-left: 7px;
        @media #{$max768}
        {
          font-size: 13px;
          padding: 3px 13px;
        }
        @media #{$max500}
        {
          font-size: 11px;
          padding: 3px 6px;
        }
      }
  }
  .awaiting-section
  {
    h3
    {
      margin-top: 0px;
      margin-bottom: 15px;
      color: $grey;
      @media #{$max500}
      {
        font-size: 18px;
      }
    }
    .pending-section-wrapper
    {
      border: 1px solid $light-white-grey;
      box-shadow: 4px 3px 7px $light-white-grey;

        margin-bottom: 25px;

      .header
      {
        padding: 12px;
        @media #{$max500}
        {
          padding: 10px;
        }
        h4
        {
          text-align: right;
          @media #{$max500}
          {
            font-size: 17px;
          }
        }
      }
    .pending-class-div
    {
      display: flex;
      padding: 15px;
      .mediaobject-img-div
      {
         align-self: flex-start;
      }
      .pending-class-info
      {
        margin-left: 15px;
        table
        {
          tr
          {

            th
            {
              text-align: right !important;
              font-size: 16px;
              vertical-align: top;
              padding: 5px 0;
              padding-right: 15px !important;
              color: $grey;
              @media #{$max500}
              {
                font-size: 13px;
              }
            }
            td
            {
              text-align: left !important;
              font-size: 16px;
              vertical-align: top;
              padding: 5px 0;
              @media #{$max500}
              {
                font-size: 13px;
              }
            }
          }

        }
      }
    }
      .cancel-btn
      {
        display: block;
        background-color: $orangered;
        color: $white;
        border-radius: 3px;
        text-transform: capitalize;
        border: 0;
        padding: 7px;
        text-align: center;
        width: 150px;
        font-size: 18px;
        box-shadow: 3px 3px 7px $orangered;
        margin-bottom: 30px;
        margin-top: 20px;
        @media #{$max500}
        {
          width: 90px;
          font-size: 14px;
          padding: 5px;
        }
      }
    }
  }
  hr
  {
    border-bottom: 2px dotted $orangered;
  }
}
