/*color variable variable declarartion*/
$grey:#6D6D6D;
$green: #37A000;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#3a3939;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;
$dark_green:#EBF7F8;
$light-blue:#F1F5F9;
$light-white-grey:#E6E6E6;
$li-a:#777;

/**/
$memberarea-bg:#D5EFFF;

$green:#00D957;
$grey-font:#7E7E7E;
$red: #F25C5E;
$lemon-green: #93CA53;
$aqua-blue: #6BC9C9;
$dark-green: #54C0A9;
$orange: #D56B43;
$border-grey:#F4F4F7;
$light-grey:#666666;
$black:#000;
$radio-button-grey: #AAAAAA;
$facbook-btn-color:#404D9A;
$twitter-btn-color:#4AA2F2;
$link-btn-color:#00446F;
$dark-blue:#0f8fd4;
$my-teacher-bg:#D5EFFF;
$green1:#48C848;

/*media query variable declarartion*/
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";
$max300-0:"(min-width:0) and (max-width:300px)";
$max500-301:"(min-width:301px) and (max-width:500px)";
$max768: "(max-width:768px)";
$max768-501:"(min-width:501px) and (max-width:768px)";
$max850: "(max-width:850px)";
$max516: "(max-width:516px)";
$min991: "(min-width:991px)";
$max500: "(max-width:500px)";
$max850-500: "(max-width:850px) and (min-width:500px)";
$max500-300:"(max-width:500px) and (min-width:329px)";
$max330: "(max-width:330px)";

$sml-scrn991:"(max-width:991px)";
$max1200-992: "(max-width:1200px) and (min-width:992px)";
$max991: "(max-width:991px)";
$max991-767:"(max-width:991px) and (min-width:767px)";
$max1180-990:"(max-width:1180px) and (min-width:990px)";
$max599: "(max-width:599px)";
$max867: "(max-width:867px)";
