<% if alert %>
    <div class="alert alert-danger alert-dark hidden-print">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
<% end %>

<% if notice %>
    <div class="alert alert-info alert-dark hidden-print">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= raw notice %>
    </div>
<% end %>


