<%= render 'layouts/navbar_dark_top' %>

<nav class="navbar navbar-default bottom-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" style="margin-top:0" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.png', width:'80' %>

      <%end%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">

       <% if user_signed_in? %>

            <li><%= link_to 'Dashboard', root_path %><span class="a-border hidden-sm hidden-xs"></span></li>
            <li><%= link_to 'My Profile', profile_path(current_user.profile) %><span class="a-border hidden-sm hidden-xs"></span></li>
            <li><%= link_to 'Class History', class_history_path %><span class="a-border hidden-sm hidden-xs"></span></li>
            <li><a href="<%= messages_path %>">Messages</a><span class="a-border hidden-sm hidden-xs"></span></li>

            <% unless current_user.has_role? :teacher %>
            <li><a href="<%= book_class_path %>">Book Class</a><span class="a-border hidden-sm hidden-xs"></span></li>
            <% end %>

            <li><a href="#">Payments</a><span class="a-border hidden-sm hidden-xs"></span></li>
            <li><a href="<%= settings_path %>">Settings</a><span class="a-border hidden-sm hidden-xs"></span></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell nav-user-icon" aria-hidden="true"></i><span style="color: #cc3333"> ( 12 ) </span><span class="caret"></span></a>
              <ul class="dropdown-menu" id="notifications-list">
                <li><%= image_tag asset_path('loader.gif'), class: 'img-responsive', id: 'loader-gif', width: 50 %></li>
              </ul>
            </li>

        <% else %>

            <%= render 'layouts/logged_out_links.html.erb' %>

        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
