<section class="footer-hidden-div hidden-lg hidden-md hidden-sm ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h4 class="footer-h4">quick links</h4>
        <ul>
          <li><a href="" class="footer-a">home</a></li>
          <li><a href="" class="footer-a">courses</a></li>
          <li><a href="" class="footer-a">sign up</a></li>
          <li><a href="" class="footer-a">about us</a></li>
          <li><a href="" class="footer-a">careers</a></li>
          <li><a href="" class="footer-a">about us</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 footer-mid-col">
        <h4 class="footer-h4">info</h4>
        <ul>
          <li><a href="" class="footer-a">become a teacher</a></li>
          <li><a href="" class="footer-a">benifits</a></li>
          <li><a href="" class="footer-a">why wiki lesson</a></li>
          <li><a href="" class="footer-a">news</a></li>
          </ul>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 footer-rightcol">
        <a href=""></i><i class="fa fa-twitter border-twitter"></i></a>
        <a href=""><i class="fa fa-tumblr border-tumbler border-fb" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-facebook border-tumbler"></i></a>
        <p>+91 0145779787</p>
        <a href="" class="email-a">Question?learnwithus@wikilesson.com</a>
      </div>
    </div>
  </div>

</section>

<section class="footer-div">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <h4 class="footer-h4">quick links</h4>
        <ul>
          <li><a href="">home</a></li>
          <li><a href="">courses</a></li>
          <li><a href="">sign up</a></li>
          <li><a href="">about us</a></li>
          <li><a href="">careers</a></li>
          <li><a href="">about us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 footer-mid-col">
        <h4 class="footer-h4">info</h4>
        <ul>
          <li><a href="">become a teacher</a></li>
          <li><a href="">benifits</a></li>
          <li><a href="">why wiki lesson</a></li>
          <li><a href="">news</a></li>
          </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 footer-rightcol">
        <div class="footer-icon-div">
          <div class="footer-icon"><a href=""></i><i class="fa fa-twitter "></i></a></div>
          <div class="footer-icon"><a href=""><i class="fa fa-tumblr " aria-hidden="true"></i></a></div>
          <div class="footer-icon"><a href=""></i><i class="fa fa-facebook "></i></a></div>

        </div>
        <p>+91 0145779787</p>
        <a href="" class="email-a">Question?learnwithus@wikilesson.com</a>
      </div>
    </div>


  </div>

</section>

<footer class="footer-section">
  <div class="container lastdiv">
    <ul class="list-inline left-ul">
      <li><a href="">site maps</a></li>
      <li><a href="">legals</a></li>
      <li><a href="">accessibility</a></li>
      <li><a href="">contact us</a></li>

    </ul>
    <ul class="list-inline right-ul">
      <li><a href="" >copyright 2016-2017</a></li>

    </ul>


  </div>

</footer>
