<li>
  <%= link_to "home", root_path %><span class="a-border hidden-sm hidden-xs"></span>
</li>
<li class="dropdown" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">about us <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "about us", aboutus_path %>
    </li>
    <li> <%= link_to "how does it work", howitwork_path %></li>
  </ul>
  <span class="a-border hidden-sm hidden-xs"></span>
</li>
<li>
  <%= link_to "faq", faq_path %><span class="a-border hidden-sm hidden-xs"></span>
</li>
<li><%= link_to "course", course_path %><span class="a-border hidden-sm hidden-xs"></span></li>
<li><%= link_to "why wiki lesson", whywikilesson_path %><span class="a-border hidden-sm hidden-xs"></span></li>
<li><%= link_to "blog", blog_path %><span class="a-border hidden-sm hidden-xs"></span></li>
<li><%= link_to "contact us", contactus_path %><span class="a-border hidden-sm hidden-xs"></span></li>