<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div>
        <a class="navbar-brand" href="#">
          <a href=""></i><i class="fa fa-twitter "></i></a>
          <a href=""><i class="fa fa-tumblr border-tumbler navbar-twitter" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <i class="fa fa-lock navbar-lock" aria-hidden="true"></i>

      <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'button' %>
      <% else %>
          <%= link_to 'login', new_user_session_path, class: 'button' %>

         <%= link_to 'Register', new_user_registration_path, class: 'button' %>
    <% end %>

    </ul>
  </div>
</nav>
