<!DOCTYPE html>
<html>
<head>
  <title><%= get_seo_title %></title>
  <meta name="description" content="<%= get_seo_description %>">
  <meta name="keywords" content="<%= get_seo_keywords %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="mainapp">
  <%= render 'layouts/externalnavbar'%>
  <%= yield %>
  <%= render 'layouts/footer'%>
</div>


<% if user_signed_in? %>
    <!--Insert all the templates here-->
    <%= render 'vuecomponents/booking_component' %>

<% end %>

<%= insert_paloma_hook %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!--Analytics starts here.-->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-91142802-1', 'auto');
    ga('send', 'pageview');

</script>

<!--Analytics ends here.-->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/585a108b7295ad7394fcb397/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

<%= javascript_include_tag 'application' %>
<% if user_signed_in? %>
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>

    <!--Analytics starts here.-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91142802-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!--Analytics ends here.-->
<script>
    var config = {
        apiKey: "AIzaSyBd4h5IwaXJljPbb3rsDfp3U5W8-NHfxxk",
        authDomain: "wiki-lessons.firebaseapp.com",
        databaseURL: "https://wiki-lessons.firebaseio.com",
        storageBucket: "wiki-lessons.appspot.com",
        messagingSenderId: "1067952415099"
    };
    firebase.initializeApp(config);
    var v = firebase.database().ref('notifications-<%= current_user.id  %>');
    v.on('value', function (snapshot) {
        var list = (snapshot.val());
        $('#loader-gif').remove();
        $('#empty-notification').remove();
        if(list){
            var keys = (Object.keys(snapshot.val()));
            keys.forEach(function (a) {
                $('#notifications-list').prepend('<li><a href="' + list[a].link + '">' + list[a].message + '</a></li>')
            });
        }else{
            $('#notifications-list').append('<li id="empty-notification"><a href="#">You do not have any notifications.</a></li>')
        }
    });
</script>
<% end %>

</body>
</html>
